@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\000034}}
.table > thead > tr > th {
  background: #fafafa;
  border: 1px solid #F2F2F2 !important;
  font-size: 12px;
  font-weight: 200;
  color: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000311}}
.table > tbody > tr {
  background: #ffffff;
  border: 1px solid #F2F2F2;
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000316}}
.table > tbody > tr > td {
  padding: 10px !important;
  border: 0 !important;
  font-size: 12px !important;
  font-weight: 100;
  color: gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000323}}
.table .name {
  font-size: 16px;
  font-weight: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000329}}
.table .status {
  font-weight: 500;
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000332}}
.table .status:before {
  content: '\2022';
  font-size: 39px;
  line-height: 24px;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000339}}
.table .active {
  color: #68C49E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000342}}
.table .bad {
  color: #F44042;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000345}}
.table .on-hold {
  color: #F5A623;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000348}}
.table .closed {
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/partials\/tables\.scss}line{font-family:\0000351}}
.table .grid-button {
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: #68C49E;
}
