@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "main-variables.scss";
@media only screen
and (min-width: 768px)
and (max-width: 1024px){

  .navbar-right {
    float:left !important;
  }

  .main-nav ul {    
    float: left;
    width:100%;
  }
  .navbar-nav li {
    display: block;
    float: left;
    width: auto;
  }
  .navbar-nav li a.notifications{
    border:none;
    margin:0;
  }
  .navbar-nav li a.notifications strong{
    top:18px;
    left:115px;
    right: 81%;
  }    
  .main-nav {
    display: none;
  }
  .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-left: 10px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    background-color: #000 !important;
    background-image: none;
    border: none;
    border-radius: 4px;
  } 
  .navbar-form {
    width:450px;
    .form-group {
      display:block;
    }
    .form-group input {
      width:100%;
    }
  }
  .summary .horizontal dt {
    padding: 0 5px;
  }
  .summary .horizontal dd {
    margin-right:5px;
    width:118px;
  }
  
  .filters {
    ul {
      @include make-md-column(9);
      @include make-sm-column(10);
    }
    ul>li>a {
      font-size:11px;
      padding:5px;
    }
    .search { 
      @include make-md-column(3);
      @include make-sm-column(2);

      .search-box {
        width:100%;
      }
    }
  }

  .badge {
    width: 22px;
  }

  .col-xs-2.text-right {
    text-align:left;
    width:5px;
  }
  div.shortcuts>ul>li>a{
    font-size: 1.3rem;
    
  }
  .shortcuts ul>.label{
    font-size: 1rem;
  }
  .container>.navbar-header{
     margin-right: auto;
     margin-left: auto;
     width: 98%
  }
  .navbar>.container .navbar-brand{
    margin-left:0!important;
    z-index:11;
  }
  nav .search-sm{
    margin-top: 1.4rem;
    float: left;
    width: 90%;
    margin-left: auto;
    display: block!important;
    margin-right: auto;
    position: absolute;
  }
  nav .search-sm .search-box{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-default .navbar-toggle{
      z-index: 10;
  }
  .collapse.in{
    width: 98%;
  }
  .main-nav ul{
      float: left;
      width: 80%;
      margin-top: 1.4rem;
      border: 0;
  }
  .navbar-nav.navbar-right:last-child{
    margin-right: 0!important;
    margin-left: 0;
    width: 20%;
    float: right!important;
  }
  li.hidden-sm > form > div > input{
    display:none;
  }
  .notifications>span{
    display:none!important;
  }
  .navbar-nav li a.notifications strong{
      top: 4px;
      left: 23px;
  }
  nav .navbar-nav>li>a{
      padding: 23px 10px 23px 40px;
  }
  .navbar-nav li a.notifications{
      margin-top: 7px;
  }
  ul.nav.navbar-nav.navbar-right > li.dropdown{
    float:right;
  }
 .search.pull-right > input{
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
  width: 125px;
  text-align: center;
  margin-left: -117px;
  margin-top: -45px;
  position: absolute;
 }
 div.ng-scope > ul > li:nth-child(5) > a{
    margin-bottom: 4px;
 }
 .shortcuts{
   ul>li+li{
   margin-bottom: 10px;
   }
   ul > li > a {
    padding: 5px 1vw;
    font-size:1.2vw;
    }
 }
 div.summary>div>ul>li+li {
  margin-bottom: 10px;
}
 .table .grid-button{
   float:right;
   margin-bottom:2px;
 }
 //adjustment of status button
 .col-md-8 .col-md-8{
   margin-left: 1.8rem;
   width:50%!important;
 }
 .col-md-12 .col-md-8{
   float:left;
   width:66.666666%;
 }
.col-md-12 .col-md-4{
  float:left;
   width:33.333333%;
}
  //adjust height of all rows
div.col-md-8 > div{
    //height: 2rem;
}
.form-group>.control-label{
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}
.col-md-12 > form > .col-md-6{
  width: 50%;
  float: left;
}
.col-md-12 > form > .col-md-12{
  width: 100%;
  clear: both;
  text-align: right;
}
div.summary > div > ul {
    width: 100%;
    >li>a{
      font-size: 1.1vw;
      padding: 5px 0.5vw;
    }
}
.form-group h4{
    text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
}
//===================
}
@media only screen
and (min-width: 992px)
and (max-width: 1024px){
  .form-group > .control-label{
      width: 16.6666666667%;
  }
  .table-permission .btn-xs, .tab-content .container .btn-xs{
    font-size: 1.2vw!important;
    float: left;
    padding: 2px;
  }
  small{
    font-size:1rem;
  }
}
@media only screen
and (min-width: 768px)
and (max-width: 992px){
  small{
    font-size:1rem;
  }
  .table-permission .btn-xs, .tab-content .container .btn-xs{
    font-size: 1.2vw!important;
    float: left;
    padding: 2px;
  }
  .table-permission > tbody > tr > td {
    padding: 1px;
  }
  .table-permission .btn-xs{
     padding: 1px;
  }
  .tab-content .container .col-md-3{
    width: 50%;
    float: left;
  }
  .col-md-4{
  float: none!important;
  width: 50%!important;
  }
  .form-group > .control-label{
    width:100%;
  }
 
  .col-md-2{
    width: 33%;
    float: left;
  }
  .form-horizontal .form-group > .control-label{
    width: 30%;
    clear: left;
  }
  .shortcuts ul > li > a{
    padding: 5px 0.6vw!important;
    font-size: 1.1vw!important;
  }
  .table > tbody > tr > td {
    line-height: 15px !important;
    font-size: 1.4vw !important;
    padding: 6px 0px;
  }
  .table > tbody > tr > td:last-child{
    width:20%;
  }
  //.form-group>label+div{

  div > div > form > div.form-group > label+div{
   clear:left;  
  }
  .modal-dialog{
    margin: 30px 0;
    width: 100%;
    .col-md-6{
      width: 50%;
      float: left;
      .control-label{
        width:100%
      }
    }
  }
  .col-xs-6{
   width:100%;
   button{
    width:15%;
   }
   input{
    width:85%;
   }
  }
  form[name=createjournalentryForm]{
    .control-label {
      width: 30%;
     clear: none;
     float: left;
      text-align: right
    }
    .col-md-3{
      float: left;
      clear: none !important;
      width: 29%;
    }
    .col-md-10{
      float: left;
      width: 22%;
      clear: none!important;
    }
    .col-xs-3{
      margin-left:-20px;
    }
    .col-xs-3+.col-xs-3{
      margin-left:0px;
    }
    .col-xs-7 {
      margin-left: 20px;
    }
    .col-md-9{
     clear: none;
     float: left;
     width: 70%;
    }
    .paddedtop{
      margin-left: 31%;
    }
  }
}
/*@media only screen
and (max-width: 768px){
  .shortcuts ul>li>a{
    padding: 4px;
    font-size: 1rem;
  }
}*/

