$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_utilities.scss";
@import "main-variables.scss";
@import "main-web.scss";
@import "main-tablet.scss";
