@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
$font-family     : Helvetica, Arial, sans-serif;
$background-web  : #f8f8f8;
$body-mobile     : #eaeaea;
$primary-color   : #E28B00;
$secondary-color : #449ACC;
$tertiary-color  : #68C49E;
$text-color      : #333333;
$error-text      : #990000;/*#D0021B;*/
$error-block     : white;/*#FCD4D9;*/
$link-color      : $secondary-color;
$border-color    : #F2F2F2;
//COlor for table green buttons and Active status in CLient status
$greenColor      : #479619;
$activeInBadStandingColor:#C35353;
$clientStatusPending:orange;


$active : $tertiary-color;
$bad    : #F44042;
$hold   : #F5A623;
$closed : #777777;

$primary-button : $secondary-color;
$grid-button    : $greenColor;/*$tertiary-color;*/
