$font-family     : Helvetica, Arial, sans-serif;
$background-web  : #f8f8f8;
$body-mobile     : #eaeaea;
$primary-color   : #E28B00;
$secondary-color : #449ACC;
$tertiary-color  : #68C49E;
$text-color      : #333333;
$error-text      : #D0021B;
$error-block     : #FCD4D9;
$link-color      : $secondary-color;
$border-color    : #F2F2F2;


$active : $tertiary-color;
$bad    : #F44042;
$hold   : #F5A623;
$closed : #777777;

$primary-button : $secondary-color;
$grid-button    : $tertiary-color;
