@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "main-variables.scss";
@media only screen
and (min-width: 768px)
and (max-width: 1024px){

  .navbar-right {
    float:left !important;
  }

  .main-nav ul {    
    float: left;
    width:100%;
  }
  .navbar-nav li {
    display: block;
    float: left;
    width: auto;
  }
  .navbar-nav li a.notifications{
    border:none;
    margin:0;
  }
  .navbar-nav li a.notifications strong{
    top:18px;
    left:115px;
    right: 81%;
  }    
  .main-nav {
    display: none;
  }
  .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-left: 10px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    background-color: #000 !important;
    background-image: none;
    border: none;
    border-radius: 4px;
  } 
  .navbar-form {
    width:450px;
    .form-group {
      display:block;
    }
    .form-group input {
      width:100%;
    }
  }
  .summary .horizontal dt {
    padding: 0 5px;
  }
  .summary .horizontal dd {
    margin-right:5px;
    width:118px;
  }
  
  .filters {
    ul {
      @include make-md-column(9);
      @include make-sm-column(10);
    }
    ul>li>a {
      font-size:11px;
      padding:5px;
    }
    .search { 
      @include make-md-column(3);
      @include make-sm-column(2);

      .search-box {
        width:100%;
      }
    }
  }

  .badge {
    width: 22px;
  }

  .col-xs-2.text-right {
    text-align:left;
    width:5px;
  }
  div.shortcuts>ul>li>a{
    font-size: 1.3rem;
    
  }
  .shortcuts ul>.label{
    font-size: 1rem;
  }
  .container>.navbar-header{
     margin-right: auto;
     margin-left: auto;
     width: 98%
  }
  .navbar>.container .navbar-brand{
    margin-left:0!important;
    z-index:11;
  }
  nav .search-sm{
    margin-top: 1.4rem;
    float: left;
    width: 90%;
    margin-left: auto;
    display: block!important;
    margin-right: auto;
    position: absolute;
  }
  nav .search-sm .search-box{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-default .navbar-toggle{
      z-index: 10;
  }
  .collapse.in{
    width: 98%;
  }
  .main-nav ul{
      float: left;
      width: 80%;
      margin-top: 1.4rem;
      border: 0;
  }
  .navbar-nav.navbar-right:last-child{
    margin-right: 0!important;
    margin-left: 0;
    width: 20%;
    float: right!important;
  }
  li.hidden-sm > form > div > input{
    display:none;
  }
  .notifications>span{
    display:none!important;
  }
  .navbar-nav li a.notifications strong{
      top: 4px;
      left: 23px;
  }
  nav .navbar-nav>li>a{
      padding: 23px 10px 23px 40px;
  }
  .navbar-nav li a.notifications{
      margin-top: 7px;
  }
  ul.nav.navbar-nav.navbar-right > li.dropdown{
    float:right;
  }
 .search.pull-right > input{
  padding: 5px;
  border-radius: 50px;
  border: 1px solid #bfbfbf;
  font-size: 1.2rem;
  width: 125px;
  text-align: center;
  margin-left: -117px;
  margin-top: -45px;
  position: absolute;
 }
 div.ng-scope > ul > li:nth-child(5) > a{
    margin-bottom: 4px;
 }
 .shortcuts ul>li+li{
   margin-bottom: 10px;
 }
 .table .grid-button{
   float:right;
   margin-bottom:2px;
 }
}
/*@media only screen
and (max-width: 768px){
  .shortcuts ul>li>a{
    padding: 4px;
    font-size: 1rem;
  }
}*/
