 $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_utilities.scss";
@import "main-variables.scss";
@import "main-web.scss";
@import "main-tablet.scss";

nav .navbar-nav > .active > a {
	background-color: #E28B00 !important;
	color: white !important;
}

nav {
	background: white !important;
}

.navbar-nav.navbar-right:last-child {
	margin-right: 0!important;
}

.st-sort-ascent:after {
    content: "▲";
}

.st-sort-descent:after {
    content: "▼";
}

.pagination {
    margin: 0px 0px !important;
    float: right !important;
}

.login-box {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -187px;
	margin-left: -190px;
	padding:0;

}

.form-control-feedback{
	top: 6px;	
	right: 10px
}

nav .notifications > strong{
	right: 18px!important;
}

.action .primary {
	padding: 5px 20px !important;
	font-size: 14px !important;
	border-radius: 10px;/*50px;*/
	height: auto;
}

.table .grid-button {
	text-transform: none;
}

input.form-control {
	font-size: 14px !important;
}


.table > tbody > tr {
	line-height: 15px !important;
}

.table > tbody > tr > td {
	line-height: 15px !important;
	font-size: 14px !important;
}

.table > thead > tr > th.number {
	text-align: right;
}

.table > tbody > tr > td.number {
	text-align: right;
}

.table .name, .table .status {
	font-size: 14px !important;	
}
.table .name{

	 font-weight: 600;
	/* text-decoration: underline;*/
	text-transform: uppercase;
	font-size: 1.2rem !important;

}
.table-permission {
  width: 100%;
  > tbody > tr:hover {
    > td,
    > th {
      background-color: $gray-lighter;
    }
  }
}

.table-permission > tbody > tr > td {
  padding: 2px;
}

.required {
	color: #a94442;
	font-weight: bolder;
}

.caret-parent{
	cursor: pointer;	
}

.pointer{
	cursor: pointer;	
}

.filters {
	margin-bottom: 0px !important;
}

a.disabled {
	pointer-events: none;
    cursor: default;
    color: #777;
}

.form-group > .control-label {
	font-weight: inherit;
}

label.text-left {
    text-align: left !important;
    padding-top: 0 !important;
}

.shortcuts ul > li:first-of-type > a  {
	/*padding-left: 0px !important;*/
}

.tab {
	display: none;
}

.dateCss .glyphicon-ok:before , .dateCss .glyphicon-remove:before{
	content:none !important;
}

.thumbnail, .thumbnail video {
	max-height: 240px;
	max-width: 320px;
	padding: 0;
	margin: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
}

.Size{
	max-height:50px;
	max-width:50px;
}

.margin-right5 {
	margin-right: 5px;
}

.padding0 {
	padding:0;
}

tr.pointer:hover {
	background-color: #e5e5e5;
}

tr.pointer > td {
	color: #449acc !important;
}

td.actions {
  text-align: center;
  white-space: nowrap;
  .glyphicon-remove-circle {
    color: #d9534f;
  }
}

.search-selected {
  background-color: $hold;
}

.attachment_file{
  .glyphicon-remove-circle {
      color: #d9534f;
  }
}

.dialog-header-confirm { 
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  h4 {
    color: #333;
  }
}

.margintop6 {
  margin-top: 6px !important;
}

.paddingleft0 {
  padding-left: 0px !important;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.marginTop5 {
	margin-top: 5px;
}

.has-error .form-control {
  background-color: white;/*#F2DEDE;*/
  /*border-color: #a94442;*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border: 2px solid red;
}
