@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_alerts.scss";
@import "main-variables.scss";
// INPUT BOXES
.pre-login {
  input.form-control,
  .btn {
    height:45px;
  }
}
input.form-control {
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  font-size:16px;
}

input[type=text]:focus, textarea:focus,
input[type=password]:focus {
  @include box-shadow(0 0 5px $primary-color);
  outline:0;
  border-color: $primary-color;
}

.form-control-feedback {
  top: 5px;
}

// BUTTONS
.btn {
  font-size:16px;
  border: 1px transparent;
  font-weight:500;

  &:active {
    outline: none;
  }
}

.primary {
  background: $primary-button;
  color: #fff !important;

  &:hover {
    background: lighten($primary-button,10%);
  }
}

//SEARCH BOX 

.search-box {
  padding:5px 10px;
  border-radius: 50px;
  border: 1px solid darken($input-border,5%);
  font-size:12px;
}
// NOTIFICATIONS 

.error {
  @extend .alert-danger;
  color: $error-text;
  background-color: $error-block;
  border-color: darken($error-block,5%);
  font-weight:100;
  
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-family: $font-family;
  font-weight: 100;
  font-size: 16px;
  color: #CCCCCC;
  line-height: 18px;
}
