@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "main-variables.scss";
nav {
  background: white;
  @include box-shadow(0 1px 2px 0px rgba(0,0,0,0.10));
  border: none !important;

  // NAVBAR HEADER
  .navbar-header {
    margin-right: $grid-gutter-width/2;
    margin-left: $grid-gutter-width/2;

    .navbar-brand {
      margin: 3px $grid-gutter-width/2 3px 0;
      width:48px;
      height:54px;
      background: url("../images/logo-small.png") no-repeat;
    }

    .navbar-brand > span {
      display: none;
    }
  }


  //NAV LINKS
  @media (min-width: 1210px) {

  }
  @media (min-width: 768px) and (max-width: 1210px) {
    .right {
      @include make-lg-column(4);;
      float:right !important;

      form {
        float:left !important;
        margin:15px 0;

        .form-group {
          margin-bottom: 0 !important;
        }
      }
    }
  }
  .navbar-nav > li > a {
    padding: 23px 15px 23px 40px;
    font-size: 12px;
    color: lighten($text-color,20%);
    line-height: 14px;
    background-position: 15px center;
    background-repeat: no-repeat;
  }

  .dropdown-menu > li > a {
    font-size: 12px;
    color: lighten($text-color,20%);
    line-height: 24px;
  }

  .home {
    background: url("../images/icon-navbar-home-inactive.png");
  }
  .clients {
    background: url("../images/icon-navbar-clients-inactive.png");
  }
  .products {
    background: url("../images/icon-navbar-products-inactive.png");
  }
  .reports {
    background: url("../images/icon-navbar-reports-inactive.png");
  }
  .accounting {
    background: url("../images/icon-navbar-accounting-inactive.png");
  }
  .configuration {
    background: url("../images/icon-navbar-configuration-inactive.png");
  }
  .notifications {
    background: url("../images/icon-navbar-notifications.png");
  }
  .notifications > span {
    display: none;
  }
  .notifications > strong {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 3px 5px;
    background: $primary-color;
    font-size: 10px;
    line-height: 15px;
    border: 100px;
    font-weight: 500;
  }
  .user {
    background: url("../images/icon-navbar-user.png");
  }

  .navbar-nav > .active > a {
    background-color: $primary-color;
    color: white;
    background-position: 15px center;
    background-repeat: no-repeat;
  }

  .active > .home {
    background: url("../images/icon-navbar-home-active.png");
  }
  .active > .clients {
    background: url("../images/icon-navbar-clients-active.png");
  }
  .active > .products {
    background: url("../images/icon-navbar-products-active.png");
  }
  .active > .reports {
    background: url("../images/icon-navbar-reports-active.png");
  }
  .active > .accounting {
    background: url("../images/icon-navbar-accounting-active.png");
  }
  .active > .configuration {
    background: url("../images/icon-navbar-configuration-active.png");
  }

  // SEARCH BOX 
  .search > .search-box {
    margin-top: 16px;
    margin-right:10px;
  }

  .search-sm{
    margin-top: 14px;
    float: left;
    width: 600px;

    .search-box {
      width:100%;
      display: block;
    }
  }

  // RIGHT NAVBAR 

  /*  .navbar-right > li > a {
      margin:7px;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      position: relative;
    }
    .navbar-right > li:last-child a {
      margin:0;
      border:0;
    }*/

}

@media (max-width: 1023px) {
  .navbar-nav .collapsible ul {
    width: 100% !important;
  }
  ul.sm {
    width: 100%;
    &.sm-finem li {
      float: none;
      width: 100% !important;
    }
    & ul {
      position: static !important;
      width: 100% !important;
      border: none;
      box-shadow: none;
    }
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
}
