@import "bootstrap-sass-official/assets/stylesheets/bootstrap/_mixins.scss";
@import "main-variables.scss";
.table {
  >thead>tr{
    border-bottom:1px solid darkgreen;
  }
  >thead>tr>th {
    background: lighten($background-web,0.8%);
    border: 1px solid $border-color;
    font-size: 1.8rem;/*12px*/
    font-weight:200;
    color: darkgreen;/*lighten($text-color,30%);*/
  }
  >tbody>tr {
    background: #ffffff;
    border: 1px solid $border-color;
    /*border-top:0;*/
  }
  >tbody>tr>td {
    padding:10px !important;
    border: 0;
    font-size:12px !important;
    font-weight:100;
    color: lighten($text-color,30%);
    /*cristi*/
    vertical-align: middle;
  } 
  .name {
    font-size:16px;
    font-weight:100;
  }
  .meta {
  }
  .status {
    font-weight:500;
    font-size:11px;
    &:before {
      content: '\2022';
      font-size: 39px;
      line-height: 24px;
      vertical-align: middle;
    }
  }
  .active {
    color: darkgreen;/*$tertiary-color;*/
    &.activeBadStanding {
      color: #990000;/*$bad;*/
    }
    &.activeGoodStanding {
      color: orange;/*$tertiary-color;*/
    }
  }
  .bad {
    color: $bad;
  }
  .on-hold {
    color: $hold;
  }
  .closed {
    color: $closed;
  } 
  .grid-button {
    font-size:11px;
    font-weight: 500;
    color: #fff;
    border-radius:50px;
    text-transform: uppercase;
    background-color: $grid-button;
     &:hover {
    background: darkolivegreen!important;
    color:white;
  }
  }
}

.loanRepaymentTable {
  & > thead tr > td, & > thead tr > th {
    background: lighten($background-web,0.8%);
    font-size:12px;
    font-weight:600;
    color: lighten($text-color,30%);
    border: solid 1px #cccccc;
    border-left: none;
    & + td, & + th {
      border: solid 1px #cccccc;
    }
    &:last-child {
      border-right: none;
    }
  }

  & > tbody tr td {
    border: solid 1px #cccccc;
    border-left: none;
    & + td {
      border: solid 1px #cccccc;
    }
    &:last-child {
      border-right: none;
    }
  }
}
