<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Cost Centers</h3>
        <div class="action" ng-show="hasPermission('CREATE_COSTCENTER')">
          <a ng-href="/#/admin/costcenters/create" class="btn primary" href="/#/admin/costcenters/edit">Create Cost Center</a>
        </div>
      </div>
    </div>
    <div class="list">
      <table st-table="displayed" st-safe-src="rowCollection" st-set-filter="smartTableSearchFilter" class="table">
        <thead>
          <tr>
            <th st-sort="staff.displayName">Staff/Non-staff</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-hide="isLoading" class="">
          <tr ng-repeat="costCenter in displayed">
            <td>
                <a ng-href="/#/admin/costcenters/edit/{{costCenter.staff ? costCenter.staff.id : costCenter.nonStaff.id}}/{{costCenter.costCenterType}}">{{costCenter.staff ? costCenter.staff.displayName : costCenter.nonStaff.name}}</a>
            </td>
            <td class="actions" style="width: 1%; min-width: 60px;"><a ng-show="hasAnyPermission(['DELETE_COSTCENTER'])" ng-click="removeCostCenter(costCenter)" href=""><i class="glyphicon glyphicon-remove-circle"></i></a></td>
          </tr>
        </tbody>
        <tbody ng-show="isLoading" class="ng-hide">
          <tr>
            <td colspan="2" class="text-center">
              <div class="loading-indicator">Loading...</div>
            </td>
          </tr>
        </tbody>
        <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="2">
              <div class="table-footer">
                <div class="export">
                  <strong>Export: <a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a></strong>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages" st-template="views/common/pagination.tpl.html"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>