<div ng-include="'views/common/header.html'"></div>
<div class="container post-login">
    <div ng-include src="'/views/alert.html'"></div>
    <div class="rows">
        <div class="page-header">
            <div class="header">
                <h3>Admin - Roles</h3>
                <!--
                <br>
                <h4>{{actionNames['general']}}</h4>
                <br>
                <h4>{{form.permissions}}</h4>
                <br>
                <h4>{{permissionMatrix}}</h4>
                <br>
                <h4>{{permissionsReport}}</h4>
                <br>
                <h4>{{form.permissions.expressions}}</h4>
                -->
            </div>
        </div>
        <div class="row">
            <form name="roleForm" ng-hide="isLoading" class="role-form form-horizontal" ng-submit="validateRole()"
                  novalidate show-validation>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4">name<span class="required"> *</span></label>
                            <div class="validate col-md-6">
                                <input name="roleName" class="form-control" type="text" ng-model="form.role.name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">description<span class="required"> *</span></label>
                            <div class="validate col-md-6">
                                <input name="roleDescription" class="form-control" type="text" ng-model="form.role.description" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-5 paddedtop">
                    <button id="save" type="submit" class="btn btn-primary">Save</button>
                    <a id="cancel" href="#/admin/roles" class="btn btn-warning">Cancel</a>
                </div>
                <div class="col-md-12" ng-show="actionNames['general'].length>0">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table-permission">
                                <thead>
                                <tr>
                                    <td style="padding-right: 10px;">
                                        <h3>Features</h3>
                                    </td>
                                    <td colspan="4" class="text-center">
                                        <h3>Permissions</h3>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="group in permissionGroupsOrdered['general']" ng-if="permissionMatrix['general'][group]">
                                        <td style="vertical-align: middle;">
                                            <small>{{groupingLabel(group)}}</small>
                                        </td>
                                        <td ng-repeat="actionName in actionNames['general']" class="text-center">
                                            <button type="button" class="btn btn-sm" ng-if="permissionMatrix['general'][group][actionName]" ng-class="{'btn-success': permissionMatrix['general'][group][actionName].selected, 'btn-danger': !permissionMatrix['general'][group][actionName].selected}" ng-click="selectPermission(permissionMatrix['general'][group][actionName], !permissionMatrix['general'][group][actionName].selected)">
                                                {{actionName}}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Reports - {{currentReportCategory}}</h3>
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-repeat="(key, value) in permissionsReport" ng-class="{'active': currentReportCategory==key, 'inactive': currentReportCategory!=key}">
                                    <a href="" ng-click="selectReportCategory(key)">{{key}}</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="container" style="height: 250px; overflow-y: auto;">
                                        <div class="row">
                                            <div class="col-md-4" ng-repeat="permissionReport in permissionsReport[currentReportCategory]" style="padding: 1px;">
                                                <button type="button" class="btn btn-sm" ng-class="{'btn-success': permissionReport.selected, 'btn-danger': !permissionReport.selected}" ng-click="selectPermission(permissionReport, !permissionReport.selected)">
                                                    {{permissionReport.actionName}}
                                                </button>
                                                <small>{{permissionReport.entityName}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table-permission">
                                <thead>
                                    <tr>
                                        <td style="padding-right: 10px;">
                                            <h3>Dashboard</h3>
                                        </td>
                                        <td colspan="{{actionNames['dashboard'].length}}" class="text-center">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="group in permissionGroupsOrdered['dashboard']">
                                        <td style="vertical-align: middle;">
                                            <small>{{groupingLabel(group)}}</small>
                                        </td>
                                        <td ng-repeat="actionName in actionNames['dashboard']" class="text-left">
                                            <button type="button" class="btn btn-sm" ng-if="permissionMatrix['dashboard'][group][actionName]" ng-class="{'btn-success': permissionMatrix['dashboard'][group][actionName].selected, 'btn-danger': !permissionMatrix['dashboard'][group][actionName].selected}" ng-click="selectPermission(permissionMatrix['dashboard'][group][actionName], !permissionMatrix['dashboard'][group][actionName].selected)">
                                                {{actionName}}
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h3>Override/Approval</h3>
                            <table class="table-permission">
                                <thead>
                                    <tr>
                                        <td>
                                            <h4>Loan</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4>Min Limit</h4>
                                        </td>
                                        <td class="text-center">
                                            <h4>Max Limit</h4>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="permissionExpression in permissionExpressions.LOAN">
                                        <td>
                                            <small>{{permissionExpression.label}}</small>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="permissionExpressionData[permissionExpression.code].min" ng-change="selectPermissionExpression(permissionExpression.code, permissionExpression.expression)">
                                        </td>
                                        <td>
                                            <input type="number" class="form-control" ng-model="permissionExpressionData[permissionExpression.code].max" ng-change="selectPermissionExpression(permissionExpression.code, permissionExpression.expression)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr/>
            </form>
        </div>
    </div>
</div>
