<div ng-include="'views/common/header.html'"></div>
<div class="container post-login">
    <div ng-include src="'/views/alert.html'"></div>
    <div class="rows">
        <div class="page-header">
            <div class="header">
                <h3>Admin - Roles</h3>
                <!--
                <br>
                <h4>{{form.permissions}}</h4>
                <br>
                <h4>{{actionNames}}</h4>
                -->
            </div>
        </div>
        <div class="row">
            <form name="roleForm" ng-hide="isLoading" class="role-form form-horizontal" ng-submit="validateRole()"
                  novalidate show-validation>
                <div class="col-md-12">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-md-4">name<span class="required"> *</span></label>

                            <div class="validate col-md-6">
                                <input name="roleName" class="form-control" type="text" ng-model="form.role.name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">description<span class="required"> *</span></label>

                            <div class="validate col-md-6">
                                <input name="roleDescription" class="form-control" type="text" ng-model="form.role.description" required/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-5 paddedtop">
                    <button id="save" type="submit" class="btn btn-primary">Save</button>
                    <a id="cancel" href="#/admin/roles" class="btn btn-warning">Cancel</a>
                </div>
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" ng-class="{'active': $index==currentPermissionGroup}" ng-repeat="permissionGroup in permissionGroups">
                            <a href="" ng-click="changeGroupPermission($index)">{{permissionGroup.grouping}}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="row" ng-show="permissionGroups">
                        <div class="col-md-12" style="padding-left: 2px">
                            <div class="btn-group btn-group-xs pull-left">
                                <button type="button" class="btn btn-xs btn-success" ng-click="selectPermissions(true)">
                                    <i class="glyphicon glyphicon-ok-circle"></i>
                                </button>
                                <button type="button" class="btn btn-xs btn-danger" ng-click="selectPermissions(false)">
                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table.table-responsive">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td ng-repeat="actionName in actionNames">
                                            <small>{{actionName}}</small>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(entity, permissions) in permissionMatrix">
                                        <td>
                                            <small>{{entity}}</small>
                                        </td>
                                        <td ng-repeat="actionName in actionNames" class="text-center">
                                            <button type="button" class="btn" ng-show="permissions[actionName]" ng-class="{'btn-success': permissions[actionName].selected, 'btn-danger': !permissions[actionName].selected}" ng-click="selectPermission(permissions[actionName], !permissions[actionName].selected)">
                                                <i class="glyphicon" ng-class="{'glyphicon-ok-circle': permissions[actionName].selected, 'glyphicon-ban-circle': !permissions[actionName].selected}"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--
                    <div class="row">
                        <div class="col-md-3">&nbsp;</div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-1" ng-repeat="actionName in actionNames">
                                    <h5>{{actionName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="(entity, permissions) in permissionMatrix">
                        <div class="col-md-3">
                            <h5>{{entity}}</h5>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-xs-1" ng-repeat="actionName in actionNames" class="text-center">
                                    <button type="button" class="btn" ng-show="permissions[actionName]" ng-class="{'btn-success': permissions[actionName].selected, 'btn-danger': !permissions[actionName].selected}" ng-click="selectPermission(permissions[actionName], !permissions[actionName].selected)">
                                        <i class="glyphicon" ng-class="{'glyphicon-ok-circle': permissions[actionName].selected, 'glyphicon-ban-circle': !permissions[actionName].selected}"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
                <hr/>
            </form>
        </div>
    </div>
</div>
