<div ng-include="'views/common/header.html'"></div>
<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Staff</h3>
      </div>
<!--      <div class="summary">
        <div class="shortcuts">
          <div ng-include="'views/Admin/header_item.menu.html'" onload="active='staff'"></div>
        </div>
      </div>-->
    </div>
    <div class="row" ng-hide="isLoading">
      <form name="userForm" class="form-horizontal" ng-submit="validate()" novalidate show-validation>
        <div class="form-group">
          <label class="control-label col-sm-2">Office<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control" ng-options="office.id as office.name for office in offices">
              <option value="" class="ng-binding">--Select Office--</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="firstname">First name<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" class="form-control" required late-validate="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lastname">Last name<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" class="form-control" required late-validate="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Is loan officer?</label>
          <div class="validate col-sm-3">
              <input type="checkbox" ng-model="formData.isLoanOfficer" class="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="firstname">Mobile Number for SMS</label>
          <div class="validate col-sm-3">
            <input type="text" id="mobileNo" name="mobileNo" ng-model="formData.mobileNo" class="form-control" late-validate="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Active</label>
          <div class="validate col-sm-3">
              <input type="checkbox" ng-model="formData.isActive" class="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="lastname">Joined On</label>
          <div class="validate col-sm-3">
            <input type="text"
                   datepicker-popup="dd MMMM yyyy"
                   is-open="opened"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)"
                   close-text="Close"
                   ng-click="open($event)"
                   id="joiningDate"
                   name="joiningDate"
                   ng-model="formData.joiningDate"
                   class="form-control"
                   late-validate>
          </div>
        </div>

        <div class="col-md-offset-3">
          <a id="cancel" href="#/users" class="btn btn-default">Cancel</a>
          <button id="save" type="submit" class="btn btn-primary" has-permission="CREATE_USER">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>