<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Reset Password</h3>
      </div>
    </div>
    <div class="row">
      <form name="userForm" class="form-horizontal" novalidate>
        <div class="form-group">
          <label class="control-label col-sm-2" for="user">User<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <select id="user" ng-model="userId" class="form-control" ng-options="user.id as (user.firstname + ' ' + user.lastname) for user in users">
              <option value="">--Select User--</option>

            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Auto generate password</label>
          <div class="validate col-sm-3">
            <label class="checkbox">
              <input type="checkbox" ng-model="formData.resetPassword" class="">
            </label>
          </div>
        </div>
        <div data-ng-switch="" on="formData.resetPassword">
          <div data-ng-switch-when="false" class="ng-scope">
            <div class="form-group">
              <label class="control-label col-sm-2" for="password">Password<span class="required">*</span></label>
              <div class="col-sm-3">
                <input type="password" id="password" name="password" ng-model="formData.password" class="form-control" required="" late-validate="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="repeatPassword">Repeat password<span class="required">*</span></label>
              <div class="col-sm-3">
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" ng-model="formData.repeatPassword" required="" late-validate="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-offset-3">
          <a id="cancel" href="" ng-click="cancel()" class="btn btn-default">Cancel</a>
          <button id="save" type="button" class="btn btn-primary" ng-show="hasAnyPermission(['UPDATE_USER'])" ng-click="reset()" ng-disabled="loading">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>