<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Users</h3>
      </div>
    </div>
    <div class="row">
      <form name="userForm" class="form-horizontal" ng-submit="validateUser()" novalidate show-validation>
        <div class="form-group">
          <label class="control-label col-sm-2">Status</label>
          <div class="col-sm-3">
            <span class="glyphicon" ng-class="{'glyphicon-lock': formData.locked, 'glyphicon-ok': !formData.locked}"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="username">Username<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="text" id="username" name="username" ng-model="formData.username" class="form-control" ng-minlength="5" ng-maxlength="30" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="email1">Email<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="email" id="email1" name="email1" class="form-control" ng-model="formData.email" required late-validate="">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Auto generate password</label>
          <div class="validate col-sm-3">
            <label class="checkbox">
              <input type="checkbox" ng-model="formData.sendPasswordToEmail" class="">
            </label>
          </div>
        </div>
        <div data-ng-switch="" on="formData.sendPasswordToEmail">
          <div data-ng-switch-when="false" class="ng-scope">
            <div class="form-group">
              <label class="control-label col-sm-2" for="password">Password<span class="required">*</span></label>
              <div class="col-sm-3">
                <input type="password" id="password" name="password" ng-model="formData.password" class="form-control" required="" late-validate="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="repeatPassword">Repeat password<span class="required">*</span></label>
              <div class="col-sm-3">
                <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" ng-model="formData.repeatPassword" required="" late-validate="">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Office<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <select chosen="offices" id="officeId" ng-model="formData.officeId" class="form-control" data-ng-change="getOfficeStaff()" ng-options="office.id as office.name for office in offices" required>
              <option value="">--Select Office--</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Staff<span class="required">*</span></label>
          <div class="col-sm-3">
            <select chosen="staff_vars" id="staffId" ng-model="formData.staffId" class="form-control" ng-options="staff.id as staff.displayName for staff in staff_vars" required>
              <option value="">--Select Staff--</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-show="formData.staffId">
          <label class="control-label col-sm-2" for="firstname">First name<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="text" id="firstname" name="firstname" ng-model="formData.firstname" class="form-control" required late-validate="" disabled>
          </div>
        </div>
        <div class="form-group" ng-show="formData.staffId">
          <label class="control-label col-sm-2" for="lastname">Last name<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <input type="text" id="lastname" name="lastname" ng-model="formData.lastname" class="form-control" required late-validate="" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Select roles<span class="required">*</span></label>
          <div class="validate col-sm-3">
            <select multiple required ng-model="formData.selectedRoles" class="form-control" required>
              <option ng-repeat="role in roles" ng-value="{{role.id}}" ng-selected>{{role.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-offset-3">
          <a id="cancel" href="#/users" class="btn btn-default">Cancel</a>
          <button id="save" type="submit" class="btn btn-primary" ng-show="hasAnyPermission(['CREATE_USER'])">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>