<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Staff</h3>
      </div>
    </div>
    <div class="row" ng-hide="isLoading">
      <div class="col-md-12 ng-scope">
        <div class="well">
          <div class="pull-right">
            <div class="btn-group">
              <a href="#/admin/edit_staff/{{formData.id}}" class="btn btn-primary ng-binding" ng-show="hasPermission('UPDATE_STAFF')">
                <i class="icon-edit icon-white"></i>Edit
              </a>
            </div>
          </div>
          <h3 class="bolder ng-binding">&nbsp;</h3>
          <div class="row">

            <!-- first col -->
            <div class="col-md-6">
              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td >First Name:</td>
                    <td >{{formData.firstname}}</td>
                  </tr>
                  <tr>
                    <td >Last Name:</td>
                    <td >{{formData.lastname}}</td>
                  </tr>
                  <tr>
                    <td >Office:</td>
                    <td >{{formData.officeName}}</td>
                  </tr>
                  <tr>
                    <td >Gender:</td>
                    <td >{{findValue(formData.genderId, genderOptions).name}}}</td>
                  </tr>
                  <tr>
                    <td >Marital Status:</td>
                    <td >{{findValue(formData.maritalStatusId, maritalStatusOptions).name}}</td>
                  </tr>
                  <tr>
                    <td >Is Loan Officer:</td>
                    <td >{{formData.isLoanOfficer}}</td>
                  </tr>
                  <tr>
                    <td >Mobile Number for SMS:</td>
                    <td >{{formData.mobileNo}}</td>
                  </tr>
                  <tr>
                    <td >Mobile Number #2:</td>
                    <td >{{formData.mobileNo2}}</td>
                  </tr>
                  <tr>
                    <td >Email:</td>
                    <td >{{formData.email}}</td>
                  </tr>
                </tbody>
             </table>
            </div>


            <!-- second col -->
            <div class="col-md-6">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                  <td >Children:</td>
                  <td >{{formData.children}}</td>
                </tr>
                <tr>
                  <td >Address:</td>
                  <td >{{formData.address}}</td>
                </tr>
                <tr>
                  <td >Is Loan Officer:</td>
                  <td >{{formData.isLoanOfficer}}</td>
                </tr>
                <tr>
                  <td >Emergency Contact Relation.:</td>
                  <td >{{findValue(formData.emergencyContactRelationId, emergencyContactRelationOptions).name}}</td>
                </tr>
                <tr>
                  <td >Emergency Contact:</td>
                  <td >{{formData.emergencyContactName}}</td>
                </tr>
                <tr>
                  <td >Emergency Mobile No.:</td>
                  <td >{{formData.emergencyContactMobileNo}}</td>
                </tr>
                <tr>
                  <td >Active:</td>
                  <td >{{formData.isActive}}</td>
                </tr>
                <tr>
                  <td >Joined On:</td>
                  <td >{{formData.joiningDate | date:'dd/MM/yyyy' }}</td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>