<div ng-include="'views/common/header.html'"></div>
<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Staff</h3>
      </div>
    </div>
    <div class="row" ng-hide="isLoading">
      <div class="col-md-12 ng-scope">
        <div class="well">
          <div class="pull-right">
            <div class="btn-group">
              <a href="#/admin/edit_staff/{{formData.id}}" class="btn btn-primary ng-binding" has-permission="UPDATE_STAFF">
                <i class="icon-edit icon-white"></i>Edit
              </a>
            </div>
          </div>
          <h3 class="bolder ng-binding">&nbsp;</h3>
          <div class="row">
            <div class="col-md-5">

              <table class="table table-bordered table-striped">
                <tbody>
                  <tr>
                    <td >First Name:</td>
                    <td >{{formData.firstname}}</td>
                  </tr>
                  <tr>
                    <td >Last Name:</td>
                    <td >{{formData.lastname}}</td>
                  </tr>
                  <tr>
                    <td >Office:</td>
                    <td >{{formData.officeName}}</td>
                  </tr>
                  <tr>
                    <td >Is Loan Officer:</td>
                    <td >{{formData.isLoanOfficer}}</td>
                  </tr>
                  <tr>
                    <td >Mobile Number for SMS:</td>
                    <td >{{formData.mobileNo}}</td>
                  </tr>
                  <tr>
                    <td >Active:</td>
                    <td >{{formData.isActive}}</td>
                  </tr>
                  <tr>
                    <td >Joined On:</td>
                    <td >{{formData.joiningDate | date:'dd/MM/yyyy' }}</td>
                  </tr>
                </tbody>
             </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>