
<button class="btn btn-primary pull-right" ng-click="export()">{{'label.button.export'| translate}}</button>
<div class="pull-right">
  <input type="checkbox" data-ng-model="hideAccrualTransactions" ng-true-value="false" ng-false-value="" ng-checked="isHideAccrualsCheckboxChecked" ng-change="updateCheckBoxStatus()">&nbsp;&nbsp;
  <label class="control-label">{{ 'label.input.hide.accrual.transactions' | translate }}</label>&nbsp;&nbsp;
</div>
<br>
<table class="table">
  <colgroup span="4"></colgroup>
  <thead>
    <tr class="graybg">
      <th class="pointer" ng-click="changeTransactionSort('id')">{{'label.heading.id'| translate}}</th>
      <th class="pointer" ng-click="changeTransactionSort('officeName')">{{'label.heading.office'| translate}}</th>
      <th class="pointer" ng-click="changeTransactionSort('date')">{{'label.heading.transactiondate'| translate}}</th>
      <th class="pointer" ng-click="changeTransactionSort('type.value')">{{'label.heading.transactiontype'| translate}}</th>
      <th class="pointer" ng-click="changeTransactionSort('amount')">{{'label.heading.amount'| translate}}</th>
      <th class="pointer" colspan="4" scope="colgroup">{{'label.heading.breakdown'| translate}}</th>
      <th class="pointer" scope="colgroup">{{'label.heading.loan.balance'| translate}}</th>
    </tr>
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th class="pointer" scope="col" ng-click="changeTransactionSort('principalPortion')">{{'label.heading.principal'| translate}}</th>
      <th class="pointer" scope="col" ng-click="changeTransactionSort('interestPortion')">{{'label.heading.interest'| translate}}</th>
      <th class="pointer" scope="col" ng-click="changeTransactionSort('feeChargesPortion')">{{'label.heading.fees'| translate}}</th>
      <th class="pointer" scope="col" ng-click="changeTransactionSort('penaltyChargesPortion')">{{'label.heading.penalities'| translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="pointer-main" ng-class="{strikeoff : transaction.manuallyReversed == true}"
        ng-repeat="transaction in loandetails.transactions| filter:{type.accrual:hideAccrualTransactions} | orderBy:transactionSort.column:transactionSort.descending">
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.id}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.officeName}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.date| DateFormat}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.type.value}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.amount| number}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.principalPortion| number}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.interestPortion| number}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.feeChargesPortion| number}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.penaltyChargesPortion| number}}
      </td>
      <td class="pointer" data-ng-click="routeTo(loandetails.id, transaction.id, transaction.type.id)">
        {{transaction.outstandingLoanBalance| number}}
      </td>
    </tr>
  </tbody>
</table>
