<div ng-show="guarantorTab.loading">Loading...</div>
<table class="table table-striped" ng-hide="guarantorTab.loading">
  <tbody>
    <tr>
      <td style="width: 30%">Name</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.firstName}} {{guarantorTab.guarantor.lastName}}</span></td>
    </tr>
    <tr>
      <td>Date of Birth</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.dateOfBirth | DateFormat}}</span></td>
    </tr>
    <tr>
      <td>Guarantor business activity</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.BusinessActivity_cd_businessActivity | getDropdownValues: guarantorTab.data.columnHeaders.BusinessActivity_cd_businessActivity.columnValues || []}}</span></td>
    </tr>
    <tr>
      <td>Guarantor Income per month</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.income | number}}</span>
      </td>
    </tr>
    <tr>
      <td>Guarantor business location</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.businessLocation}}</span></td>
    </tr>
    <tr>
      <td>Client Relation</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.GuarantorRelationship_cd_clientRelation | getDropdownValues: guarantorTab.data.columnHeaders.GuarantorRelationship_cd_clientRelation.columnValues || [] }}</span></td>
    </tr>
    <tr>
      <td>Main Address</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.address}}</span></td>
    </tr>
    <tr>
      <td>Main Phone Number</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.phone}}</span></td>
    </tr>
    <tr>
      <td>2nd Phone Number</td>
      <td><span class="padded-td">{{guarantorTab.guarantor.secondaryPhone}}</span></td>
    </tr>
  </tbody>
</table>
<table st-table="displayed" st-safe-src="files" class="table" ng-controller="LoansFormDocumentCtrl" ng-show="files.length > 0">
    <thead>
    <tr>
        <th>Documents</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="f in displayed">
        <td>
            <a target="blank" href="" ng-click="downloadFile(f)">
                {{f.name}}
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot ng-hide="isLoading">
    <tr>
        <td colspan="8">
            <div class="table-footer">
                <div class="export">
                </div>
                <div class="paginate">
                    <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages" st-template="views/common/pagination.tpl.html"></div>
                </div>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
<!--
<table class="table table-striped" ng-controller="LoansFormDocumentCtrl" ng-show="files.length > 0">
    <tbody>
    <tr ng-repeat="f in files">
        <td>
            <a target="blank" href="" ng-click="downloadFile(f)">
                {{f.name}}
            </a>
        </td>
    </tr>
    </tbody>
</table>
-->
<button class="btn primary" ng-click="openGuarantorDialog()" ng-hide="guarantorTab.loading || !hasAnyPermission(['CREATE_LOAN', 'UPDATE_LOAN'])">Edit Guarantor</button>