<div ng-show="chargesTab.loading">Loading...</div>
<table class="table table-striped width100" ng-hide="chargesTab.loading">
  <thead>
  <tr class="graybg">
      <th class="text">Name</th>
      <!--<th class="text">Fee/Penalty</th>-->
      <th class="text">Payment due at</th>
      <th class="date">Date Calculated</th>
      <th class="number">Outstanding Balance</th>
      <th class="text">Calculation Type</th>
      <th class="number">Due</th>
      <th class="number">Paid</th>
      <th class="number">Waived</th>
      <th class="number">Outstanding</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="charge in penaltyTab.charges" class="pointer-main">
      <td class="text">{{charge.name}}</td>
      <!--<td class="text">{{charge.penalty? "Penalty" : "Fee"}}</td>-->
      <td class="text">{{charge.chargeTimeType.value}}</td>
      <td class="date">{{charge.dueDate| DateFormat}}</td>
      <td class="number">{{charge.amountPercentageAppliedTo| number}}</td>
      <td class="text">{{charge.chargeCalculationType.value}}</td>
      <td class="number">{{charge.currency.displaySymbol}}&nbsp;{{charge.amount| number}}</td>
      <td class="number">{{charge.currency.displaySymbol}}&nbsp;{{charge.amountPaid| number}}</td>
      <td class="number">{{charge.currency.displaySymbol}}&nbsp;{{charge.amountWaived| number}}</td>
      <td class="number">{{charge.currency.displaySymbol}}&nbsp;{{charge.amountOutstanding| number}}</td>
  </tr>
  </tbody>
</table>
