<table class="table table-striped loanRepaymentTable">
  <colgroup span="4"></colgroup>
  <thead>
    <tr>
      <td colspan="5"></td>
      <td colspan="2" style="text-align: center;">Loan Amount and Balance</td>
      <td colspan="3" style="text-align: center;">Total Cost of Loan</td>
      <td colspan="6" style="text-align: center;">Installment Totals</td>
    </tr>
    <tr>
      <td>#</td>
      <td class="text-right">Days Late</td>
      <td class="text-center">Date Due</td>
      <td colspan="2" class="text-center">Date Paid</td>

      <td class="text-right">Principal Due</td>
      <td class="text-right">Balance of Loan</td>

      <td class="text-right">Interest</td>
      <td class="text-right">Fees</td>
      <td class="text-right">Penalties</td>

      <td class="text-right">Due</td>
      <td class="text-right">Paid</td>
      <td class="text-right">In Advance</td>
      <td class="text-right">Late</td>
      <td data-ng-show="isWaived" class="text-right">Waived</td>
      <td class="text-right">Outstanding</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="period in loanDetails.repaymentSchedule.periods">
      <td scope="row">{{period.period}}</td>
      <td class="number"><span ng-show="period._daysLate > 0" class="number">{{period._daysLate}}</span></td>
      <td class="date">{{period.dueDate| DateFormat}}</td>
      <td class="date">{{period.obligationsMetOnDate| DateFormat}}</td>
      <td>
        <div ng-show="period.obligationsMetOnDate"><i class="glyphicon glyphicon-check"></i></div>
      </td>

      <td class="number">{{period.principalDue| number}}</td>
      <td class="number">{{period.principalLoanBalanceOutstanding| number}}</td>
      <td class="number">{{period.interestOriginalDue| number}}</td>
      <td class="number">{{period.feeChargesDue| number}}</td>
      <td class="number">{{period.penaltyChargesDue| number}}</td>

      <td class="number">{{period.totalDueForPeriod| number}}</td>
      <td class="number">{{period.totalPaidForPeriod| number}}</td>
      <td class="number">{{period.totalPaidInAdvanceForPeriod| number}}</td>
      <td class="number">{{period.totalPaidLateForPeriod| number}}</td>
      <td data-ng-show="isWaived" class="number">{{period.totalWaivedForPeriod| number}}</td>
      <td class="number">{{period.totalOutstandingForPeriod| number}}</td>
    </tr>
  </tbody>
  <tfoot class="ui-widget-header">
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;<!--{{loanDetails.repaymentSchedule.loanTermInDays}}--></th>
      <th colspan="3">&nbsp;<!--Total--></th>

      <th>{{loanDetails.repaymentSchedule.totalPrincipalExpected| number}}</th>
      <th>&nbsp;</th>
      <th>{{loanDetails.repaymentSchedule.totalInterestCharged| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalFeeChargesCharged| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalPenaltyChargesCharged| number}}</th>

      <th>{{loanDetails.repaymentSchedule.totalRepaymentExpected| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalRepayment| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalPaidInAdvance| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalPaidLate| number}}</th>
      <th data-ng-show="isWaived">{{loanDetails.repaymentSchedule.totalWaived| number}}</th>
      <th>{{loanDetails.repaymentSchedule.totalOutstanding| number}}</th>
    </tr>
  </tfoot>
</table>
