<div class="container post-login">
  <div class="summary">
    <div class="shortcuts">
      <div ng-include="'views/Client/header.menu.tpl.html'"></div>
    </div>
  </div>
  <div ng-hide="isLoading">
    <div class="span gray-head summary" style="margin-left:0%;">
      <ul class="breadcrumb">
        <li ng-show="loanDetails.clientName"><a href="#/editbasicclientinfo/{{loanDetails.clientId}}">{{loanDetails.clientName}}</a></li>
        <li class="active">{{loanDetails.loanProductName}} (#{{loanDetails.accountNo}})</li>
      </ul>
      <div class="clearfix">
        <span style="margin-left: 10px;font-size:20px">
          <strong class="loans-details">
            <i ng-hide="loanDetails.inArrears" class="glyphicon glyphicon-stop {{loanDetails.status.id| status}}"></i>
            <i ng-show="loanDetails.inArrears" class="glyphicon glyphicon-stop {{loanDetails.status.id| status}} overdue"></i>&nbsp;<span>{{loanDetails.loanProductName}} (#{{loanDetails.accountNo}})</span>
          </strong>
        </span>
        <div class="pull-right" ng-show="loanDetails.status.id == 300 || loanDetails.status.id == 800 || loanDetails.status.id == 900">
          <button class="btn btn-sm primary" ng-click="openTransactionDialog('prepay')" ng-show="hasPermission('UPDATE_LOAN')">Prepay Loan</button>
          <button class="btn btn-sm primary" ng-click="openTransactionDialog('repayment')" ng-show="hasPermission('REPAYMENT_LOAN')">Make Payment</button>
          <button class="btn btn-sm primary" ng-click="openDisbursalUndoDialog()" ng-show="hasPermission('DISBURSALUNDO_LOAN') && loanDetails.additionalLoanInfo.paymentCount==0">Undo Disbursement</button>
          <!--<button class="btn btn-sm primary">Waive Interest</button>-->
          <button class="btn btn-sm primary" ng-click="openRescheduleDialog()" ng-show="hasPermission('CREATE_RESCHEDULELOAN')">Reschedule</button>
          <button class="btn btn-sm primary" ng-click="openWriteOffDialog()" ng-show="hasPermission('WRITEOFF_LOAN')">Write Off</button>
          <!--
          <button class="btn btn-sm primary" ng-show="hasPermission('CLOSE_LOAN')">Close</button>
          -->
        </div>
        <div class="pull-right" ng-show="loanDetails.status.id == 601">
          <button class="btn btn-sm primary" ng-click="undoWriteOff()" ng-show="hasPermission('UNDOWRITEOFF_LOAN')">Undo Write Off</button>
        </div>
      </div>
    </div>



    <div class="summary clearfix">
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Disbursement Date:</dt>
          <dd>{{loanDetails.timeline.actualDisbursementDate ? (loanDetails.timeline.actualDisbursementDate | DateFormat) : 'Not Provided'}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Currency:</dt>
          <dd>{{loanDetails.currency.displayLabel}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Loan Officer:</dt>
          <dd>{{loanDetails.loanOfficerName? loanDetails.loanOfficerName : 'Unassigned'}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>External ID:</dt>
          <dd>{{loanDetails.externalId? loanDetails.externalId : 'Not Provided'}}</dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt>Loan Purpose:</dt>
          <dd>{{loanDetails.loanPurpose? loanDetails.loanPurpose : 'Not Provided'}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Approved Amount:</dt>
          <dd>{{loanDetails.approvedPrincipal| number}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Disburse Amount:</dt>
          <dd>{{loanDetails.principal| number}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Arrears By:</dt>
          <dd>{{loanDetails.summary.totalOverdue? (loanDetails.summary.totalOverdue | number) : 'Not Provided'}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Total LPI:</dt>
          <dd>{{loanDetails.summary.penaltyChargesOutstanding? (loanDetails.summary.penaltyChargesOutstanding | number) : 'Not Provided'}}</dd>
        </dl>
      </div>
      <div class="col-md-4">
        <dl class="dl-horizontal">
          <dt># of payments:</dt>
          <dd>{{loanDetails.additionalLoanInfo.paymentCount| number}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt># of missed payments:</dt>
          <dd>{{loanDetails.additionalLoanInfo.missedPaymentCount| number}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Days in Arrears:</dt>
          <dd>{{loanDetails.daysInArrears| number}}</dd>
        </dl>
        <dl class="dl-horizontal">
          <dt>Loan maturity date:</dt>
          <dd>{{loanDetails.additionalLoanInfo.maturityDate| DateFormat}}</dd>
        </dl>
      </div>
    </div>
    <div>
      <div class="header">
        <h3>{{currentTab.title}}</h3>
      </div>
      <div class="summary">
        <div class="shortcuts">
          <ul role="tablist">
            <li role="presentation" ng-repeat="tab in tabs"><a href="javascript:void(0);" ng-class="{active: tab.active, disabled : tab.disabled}" ng-click="selectTab(tab.name)">{{tab.title}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="summary clearfix">
    <div class="col-md-12" ng-show="isLoading">
      <div class="form-group">
        <div class="loading-indicator">Loading...</div>
      </div>
    </div>
    <div ng-repeat="tab in tabs" ng-if="tab.active" ng-include="tab.view" onload="initTab(tab)" ng-hide="isLoading"></div>
  </div>
</div>
