
<!--<button class="btn btn-primary pull-right" ng-click="export()">{{'label.button.export'| translate}}</button>-->
<div class="pull-right">
  <input type="checkbox" id="hideAccrualTransactions" ng-model="transactionTab.hideAccrualTransactions">&nbsp;&nbsp;
  <label class="control-label" for="hideAccrualTransactions">Hide Accruals</label>&nbsp;&nbsp;
</div>
<br>
<table st-table="transactionTab.displayed" st-safe-src="transactionTab.rowCollection" class="table loanRepaymentTable table-hover table-striped">
  <thead>
    <tr class="graybg">
      <th colspan="5">&nbsp;</th>
      <th colspan="4" style="text-align: center">Break Down</th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <th st-sort="id" class="pointer number">ID</th>
      <th st-sort="officeName" class="pointer text">Office</th>
      <th st-sort="date"  class="pointer date">Transaction Date</th>
      <th st-sort="type.value" class="pointer text">Transaction Type</th>
      <th st-sort="amount" class="pointer number">Amount</th>
      <th st-sort="principalPortion" class="pointer number">Principal</th>
      <th st-sort="interestPortion" class="pointer number">Interest</th>
      <th st-sort="feeChargesPortion" class="pointer number">Fees</th>
      <th st-sort="penaltyChargesPortion" class="pointer number">Penalties</th>
      <th st-sort="outstandingLoanBalance" class="pointer number">Running Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{strikeoff : transaction.manuallyReversed == true, pointer: transaction.manuallyReversed == false && (transaction.type.repayment || transaction.type.fromUnidentified || transaction.type.moveToProfit)}" ng-repeat="transaction in transactionTab.displayed" ng-click="clickLoanTransaction(transaction);">
      <td class="number">{{transaction.id}}</td>
      <td class="text">{{transaction.officeName}}</td>
      <td class="date">{{transaction.date| DateFormat}}</td>
      <td class="text">{{transaction.type.value}}</td>
      <td class="number">{{transaction.amount| number}}</td>
      <td class="number">{{transaction.principalPortion| number}}</td>
      <td class="number">{{transaction.interestPortion| number}}</td>
      <td class="number">{{transaction.feeChargesPortion| number}}</td>
      <td class="number">{{transaction.penaltyChargesPortion| number}}</td>
      <td class="number">{{transaction.outstandingLoanBalance| number}}</td>
    </tr>
  </tbody>
  <tfoot ng-hide="isLoading">
    <tr>
      <td colspan="10">
        <div class="table-footer">
          <div class="export">
            <strong>Export: <a href="" class="link excel" ng-click="xlsExport('0,7')" target="_blank">Excel</a></strong>
          </div>
          <div class="paginate">
            <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages" st-template="views/common/pagination.tpl.html"></div>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>

</table>
