<div ng-include src="'/views/alert.html'"></div>
<form ng-submit="saveNote()">
  <div class="form-group">
    <div class="col-sm-9 col-md-9">
      <textarea rows="1" class="form-control" id="textarea" placeholder="Enter Note" ng-model="notesTab.formData.note"></textarea>

    </div>
    <div class="col-md-3">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </div>
</form>
<div class="col-md-12">
  <br/>
  <div ng-repeat="loanNote in notesTab.notes| orderBy:predicate:reverse">
    <blockquote>
      <p>{{loanNote.note}}</p>
      {{loanNote.id}}
      <small>Created By :&nbsp;{{loanNote.createdByUsername}}</small>
      <small>Created On :&nbsp;{{loanNote.createdOn| DateFormat}}</small>
    </blockquote>
  </div>
</div>
