<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login" ng-controller="ClientBusinessActivityCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Edit Client</h3>
      </div>
      <div class="summary" ng-hide="isLoading">
        <div class="shortcuts">
          <ul role="tablist">
            <li role="presentation"><a href="#/editbasicclientinfo/{{id}}">Basic Client info</a></li>
            <li role="presentation"><a href="#/editadditionalclientinfo/{{id}}">Additional Client Info</a></li>
            <li role="presentation"><a href="#/editclientidentification/{{id}}">Client Documents</a></li>
            <li role="presentation"><a href="#/editnextofkeen/{{id}}">Emergency Contacts/Next of Kin</a></li>
            <li role="presentation"><a href="#/editbusinessdetails/{{id}}" class="active">Business Details</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">
          <div class="loading-indicator">Loading...</div>
        </div>
      </div>
      <form name="ClientBusinessActivityForm" ng-hide="isLoading || !hasPermission('UPDATE_CLIENT')" class="form-horizontal" ng-submit="validateClientBusinessActivity(clientBusinessActivity)" novalidate show-validation>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">Business Activity<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="BusinessActivity_cd_business_activity" ng-model="clientBusinessActivity.BusinessActivity_cd_business_activity" class="form-control" required>
                <option ng-repeat="businessActivity in businessActivityOptions" value="{{businessActivity.id}}">{{businessActivity.value}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Business Name (if any)<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <input id="business_name" name="business_name" class="form-control" type="text" ng-model="clientBusinessActivity.business_name" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">operating since<span class="required"> *</span></label>
            <div class="validate col-md-6 dateCss">
              <input id="operating_since" name="operating_since" class="form-control" type="text" ng-model="clientBusinessActivity.operating_since" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event)" readonly="true" required />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Bookkeeping<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="YesNo_cd_book_keeping" ng-model="clientBusinessActivity.YesNo_cd_book_keeping" ng-options="columnValues.id as columnValues.value for columnValues in BookingKeeping" class="form-control" value="{{columnValues.id}}" required></select> 
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">Business Address</label>
            <div class="col-md-6">
              <textarea rows="2" id="business_address" name="business_address" class="form-control" ng-model="clientBusinessActivity.business_address"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Other income generating activities (list)<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="YesNo_cd_other_income" ng-model="clientBusinessActivity.YesNo_cd_other_income" ng-options="columnValues.id as columnValues.value for columnValues in otherIncome" class="form-control" value="{{columnValues.id}}" ng-change="changeIncomeActivity()" required>
              </select> 
            </div>
          </div>
          <div class="form-group" ng-show="isIncomeActivity">
            <label class="control-label col-md-4">List of income activities<span class="required"> *</span></label>
            <div class="col-md-6">
<!--              <select id="BusinessActivity_cd_other_income_business_activity" ng-model="clientBusinessActivity.BusinessActivity_cd_other_income_business_activity" ng-options="columnValues.id as columnValues.value for columnValues in otherIncomeBusinessActivity" class="form-control" value="{{columnValues.id}}">
              </select>-->
              <select id="BusinessActivity_cd_other_income_business_activity" ng-model="clientBusinessActivity.BusinessActivity_cd_other_income_business_activity" class="form-control" required>
                <option ng-repeat="businessActivity in filterBusinessActivity(otherIncomeBusinessActivity)" value="{{businessActivity.id}}">{{businessActivity.value}}</option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-offset-5 paddedtop">
            <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
            <button id="save" type="submit" class="btn btn-primary">{{clientBusinessActivity.id? 'Update' : 'Add'}}</button>
          </div>
        </div>

      </form>
      <hr/>
      <table class="table"  st-table="displayed" st-safe-src="rowCollection">
        <thead>
          <tr>
            <th st-sort="BusinessActivity_cd_business_activity">Business Activity</th>
            <th st-sort="business_name">Business Name</th>
            <th st-sort="operating_since">operating since</th>
            <th st-sort="YesNo_cd_book_keeping">Bookkeeping</th>
            <th st-sort="business_address">Business Address</th>
            <th st-sort="BusinessActivity_cd_other_income_business_activity">List of income activities</th>
            <th width="1%"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="pointer" st-select-row="row" st-select-mode="single" ng-repeat="row in displayed">
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name">
                {{row.BusinessActivity_cd_business_activity| getDropdownValues:businessActivityOptions}}
              </div>
            </td>
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name">
                {{row.business_name}}
              </div>
            </td>
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name" ng-show="{{row.operating_since[2]}}">
                {{row.operating_since[2]}}/{{row.operating_since[1]}}/{{row.operating_since[0]}}
              </div>
            </td>
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name">
                {{row.YesNo_cd_book_keeping| getDropdownValues:BookingKeeping}}
              </div>
            </td>
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name">
                {{row.business_address}}
              </div>
            </td>
            <td data-ng-click="editBusinessActivity(row)">
              <div class="name">
                {{row.BusinessActivity_cd_other_income_business_activity| getDropdownValues:otherIncomeBusinessActivity}}
              </div>
            </td>
            <td class="actions"><a href="javascript:void(0);" ng-click="deleteBusinessDetails(row)" ng-show="hasPermission('UPDATE_CLIENT')"><i class="glyphicon glyphicon-remove-circle"></i></a></td>
          </tr>
        </tbody>
        <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="7">
              <div class="table-footer">
                <div class="export">
                  <strong>Export: <a href="" class="link pdf" ng-click="pdfExport()" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a></strong>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
      <hr/>
      <div class="col-md-12">
        <div class="col-md-offset-5 paddedtop">
          <a id="cancel" href="#/editnextofkeen/{{id}}" class="btn btn-warning">Back</a>
          <button id="save" type="button" class="btn btn-primary" ng-click="saveAndFinish()" ng-show="hasAnyPermission(['CREATE_CLIENT', 'UPDATE_CLIENT'])">Finish</button>
          <!--<button id="save" type="button" class="btn btn-primary" ng-click="finish()">Finish</button>-->
        </div>
      </div>
    </div>
  </div>
</div> 