<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="ClientIdentificationCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
    <div class="header">
      <h3>Edit Client</h3>
    </div>	
	  <div class="summary"> 
      	<div class="shortcuts">
      	    <ul role="tablist">
      	        <li role="presentation"><a href="#/editbasicclientinfo/{{id}}">Basic Client info</a></li>
      	        <li role="presentation"><a href="#/editadditionalclientinfo/{{id}}">Additonal Client Info</a></li>
      	        <li role="presentation"><a href="#/editclientidentification/{{id}}" class="active">Client ID</a></li>
      	        <li role="presentation"><a href="#/editnextofkeen/{{id}}">Emergency Contacts/Next of Kin</a></li>
      	        <li role="presentation"><a href="#/editbusinessdetails/{{id}}">Business Details</a></li>
      	    </ul>
      	</div>
    </div>
  </div>
    <div calss="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">          
          <div class="loading-indicator">Loading...</div>        
        </div>
      </div>
      <form name="ClientIdentificationForm" ng-hide="isLoading" class="form-horizontal" ng-submit="validateClientIdentification(clientIdentification,clientIdentificationExtra)" novalidate show-validation>
        <div class="col-md-6">
          <div class="form-group">
              <label class="control-label col-md-4">Identification Type<span class="required"> *</span></label>
              <div class="validate col-md-6">
              	<select id="documentTypeId" ng-model="clientIdentification.documentTypeId" ng-options="allowedDocumentTypes.id as allowedDocumentTypes.name for allowedDocumentTypes in identificationType" class="form-control"  value="{{allowedDocumentTypes.id}}" required>
                 </select>	
              </div>
          </div>
          <div class="form-group">                
              <label class="control-label col-md-4">Identification Number<span class="required"> *</span></label>
              <div class="validate col-md-6">
                  <input id="documentKey" name="documentKey" class="form-control" type="text" ng-model="clientIdentification.documentKey" required></input>
              </div>
          </div>
          <div class="form-group">                
              <label class="control-label col-md-4">Place of Issue</label>
              <div class="col-md-6">
                  <input id="issue_place" name="issue_place" class="form-control" type="text" ng-model="clientIdentificationExtra.issue_place"></input>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-4">Date of Issue</label>
              <div class="col-md-6">
                  <input id="issue_date" name="issue_date" class="form-control" type="text" ng-model="clientIdentificationExtra.issue_date" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event)" readonly="true" ></input>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-4">File Upload</label>
              <div class="col-md-6">
                  <input id="issue_document" name="issue_document" type="file" ng-model="clientIdentificationExtra.issue_document" ng-file-select="onFileSelect($files)"></input>
              </div>
          </div>
        <hr/>
        <div class="col-md-12">
          <div class="col-md-offset-4 paddedtop">
            <a id="cancel" href="#/editadditionalclientinfo/{{id}}" class="btn btn-warning">Back</a>
            <button id="save" type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>  
        </div>         
      </form>
    </div>
  </div>
</div>