<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Edit Client</h3>
      </div>
      <div class="summary" ng-hide="isLoading">
        <div class="shortcuts">
          <ul role="tablist">
            <li role="presentation"><a href="#/editbasicclientinfo/{{id}}">Basic Client info</a></li>
            <li role="presentation"><a href="#/editadditionalclientinfo/{{id}}" class="active">Additional Client Info</a></li>
            <li role="presentation"><a href="#/editclientidentification/{{id}}">Client Documents</a></li>
            <li role="presentation"><a href="#/editnextofkeen/{{id}}">Emergency Contacts/Next of Kin</a></li>
            <li role="presentation"><a href="#/editbusinessdetails/{{id}}">Business Details</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">
          <div class="loading-indicator">Loading...</div>
        </div>
      </div>
      <form name="createAdditionalClientForm" ng-hide="isLoading" class="form-horizontal" ng-submit="validateCreateClientAdditionalInfo(createClientAdditionalInfo)" novalidate show-validation>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">Bank account<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="YesNo_cd_bank_account" ng-model="createClientAdditionalInfo.YesNo_cd_bank_account" ng-options="yesNoOptions.id as yesNoOptions.value for yesNoOptions in yesNoOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.YesNo_cd_bank_account == 33">
            <label class="control-label col-md-4">Bank Account With<span class="required"> *</span></label>
            <div class="validate col-md-6" ng-class="{'has-error': (!createClientAdditionalInfo.bank_account_with || createClientAdditionalInfo.bank_account_with=='') && createAdditionalClientForm.$submitted, 'has-success': createClientAdditionalInfo.bank_account_with && createClientAdditionalInfo.bank_account_with!==''}">
              <input id="bank_account_with" name="bank_account_with" class="form-control" type="text" ng-model="createClientAdditionalInfo.bank_account_with"  ng-class="{'has-error': !createClientAdditionalInfo.bank_account_with || createClientAdditionalInfo.bank_account_with==''}"/>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.YesNo_cd_bank_account == 33">
            <label class="control-label col-md-4">Branch<span class="required"> *</span></label>
            <div class="validate col-md-6" ng-class="{'has-error': (!createClientAdditionalInfo.branch || createClientAdditionalInfo.branch=='') && createAdditionalClientForm.$submitted, 'has-success': createClientAdditionalInfo.branch && createClientAdditionalInfo.branch!==''}">
              <input id="branch" name="branch" class="form-control" type="text" ng-model="createClientAdditionalInfo.branch"  ng-class="{'has-error': !createClientAdditionalInfo.branch || createClientAdditionalInfo.branch==''}"/>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.YesNo_cd_bank_account == 33">
            <label class="control-label col-md-4">Bank account number<span class="required"> *</span></label>
            <div class="validate col-md-6" ng-class="{'has-error': (!createClientAdditionalInfo.bank_account_number || createClientAdditionalInfo.bank_account_number=='') && createAdditionalClientForm.$submitted, 'has-success': createClientAdditionalInfo.bank_account_number && createClientAdditionalInfo.bank_account_number!==''}">
              <input id="bank_account_number" name="bank_account_number" class="form-control" type="text" ng-model="createClientAdditionalInfo.bank_account_number"  ng-class="{'has-error': !createClientAdditionalInfo.bank_account_number || createClientAdditionalInfo.bank_account_number==''}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Citizenship<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="CitizenShip_cd_citizenship" ng-model="createClientAdditionalInfo.CitizenShip_cd_citizenship" ng-options="citizenshipOptions.id as citizenshipOptions.value for citizenshipOptions in citizenshipOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Education Level<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="Education_cd_education_level" ng-model="createClientAdditionalInfo.Education_cd_education_level" ng-options="educationOptions.id as educationOptions.value for educationOptions in educationOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Poverty Status (UGX p.m.)<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="Poverty_cd_poverty_status" ng-model="createClientAdditionalInfo.Poverty_cd_poverty_status" ng-options="povertyStatusOptions.id as povertyStatusOptions.value for povertyStatusOptions in povertyStatusOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label col-md-4">Introduced by<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="Introduced_by_cd_introduced_by" ng-model="createClientAdditionalInfo.Introduced_by_cd_introduced_by" ng-options="introducedByOptions.id as introducedByOptions.value for introducedByOptions in introducedByOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.Introduced_by_cd_introduced_by == 45">
            <label class="control-label col-md-4">Client Name<span class="required"> *</span></label>
            <div class="col-md-6" ng-class="{'has-error': createAdditionalClientForm.$submitted && (!createClientAdditionalInfo.introducer_client || createClientAdditionalInfo.introducer_client==''), 'has-success': createClientAdditionalInfo.introducer_client && createClientAdditionalInfo.introducer_client!==''}">
              <select id="introducer_client" chosen="clientOptions" ng-model="createClientAdditionalInfo.introducer_client" ng-options="clientOptions.id as clientOptions.displayName for clientOptions in clientOptions" class="form-control" value="{{clientOptions.id}}" ng-class="{'has-error': !createClientAdditionalInfo.introducer_client || createClientAdditionalInfo.introducer_client==''}">
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.Introduced_by_cd_introduced_by == 46">
            <label class="control-label col-md-4">Loan Officer<span class="required"> *</span></label>
            <div class="col-md-6" ng-class="{'has-error': createAdditionalClientForm.$submitted && (!createClientAdditionalInfo.introducer_loanOfficer || createClientAdditionalInfo.introducer_loanOfficer==''), 'has-success': createClientAdditionalInfo.introducer_loanOfficer && createClientAdditionalInfo.introducer_loanOfficer!==''}">
              <select id="introducer_loanOfficer" chosen="staffOptions" ng-model="createClientAdditionalInfo.introducer_loanOfficer" ng-options="staffOptions.id as staffOptions.displayName for staffOptions in staffOptions" class="form-control" value="{{staffOptions.id}}" ng-class="{'has-error': !createClientAdditionalInfo.introducer_loanOfficer || createClientAdditionalInfo.introducer_loanOfficer==''}">
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <div class="form-group" ng-if="createClientAdditionalInfo.Introduced_by_cd_introduced_by == 47">
            <label class="control-label col-md-4">Other<span class="required"> *</span></label>
            <div class="col-md-6" ng-class="{'has-error': createAdditionalClientForm.$submitted && (!createClientAdditionalInfo.introducer_other || createClientAdditionalInfo.introducer_other==''), 'has-success': createClientAdditionalInfo.introducer_other && createClientAdditionalInfo.introducer_other!==''}">
              <input id="introducer_other" name="introducer_other" class="form-control" type="text" ng-model="createClientAdditionalInfo.introducer_other" ng-class="{'has-error': !createClientAdditionalInfo.introducer_other || createClientAdditionalInfo.introducer_other==''}" />
            </div>
          </div>
          <!-- Need to display the calendar for the return year -->
          <div class="form-group">
            <label class="control-label col-md-4">Known to Introducer since<span class="required"> *</span></label>
            <div class="validate col-md-6 dateCss">
              <input id="knownToIntroducerSince" name="knownToIntroducerSince" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="createClientAdditionalInfo.knownToIntroducerSince" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" required ng-click="open($event)" />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4">Visited by<span class="required"> *</span></label>
            <div class="validate col-md-6">
              <select id="visitedById" chosen="staffOptions" ng-model="createClientAdditionalInfo.visitedById" ng-options="staffOptions.id as staffOptions.displayName for staffOptions in staffOptions" class="form-control" required>
                <option value="">-- Select --</option>
              </select>
            </div>
          </div>
          <!-- Need to display the calendar Simple calendar -->
          <div class="form-group">
            <label class="control-label col-md-4">Visiting Date<span class="required"> *</span></label>
            <div class="validate col-md-6 dateCss">
              <input id="visitingDate" name="visitingDate" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="createClientAdditionalInfo.visitingDate" is-open="openVisitingDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" required ng-click="openVDate($event)" />
            </div>
          </div>
        </div>
        <hr/>
        <div class="col-md-12">
          <div class="col-md-offset-5 paddedtop">
            <a id="cancel" href="#/editbasicclientinfo/{{id}}" class="btn btn-warning">Back</a>
            <button id="save" type="submit" class="btn btn-primary" ng-show="hasAnyPermission(['CREATE_CLIENT', 'UPDATE_CLIENT'])">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>