<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="ClientNextToKeenCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
    <div class="header">
      <h3>Edit Client</h3>
    </div>	
	  <div class="summary">  
    	<div class="shortcuts">
    	    <ul role="tablist">
    	        <li role="presentation"><a href="#/editbasicclientinfo/{{id}}">Basic Client info</a></li>
    	        <li role="presentation"><a href="#/editadditionalclientinfo/{{id}}">Additonal Client Info</a></li>
    	        <li role="presentation"><a href="#/editclientidentification/{{id}}">Client ID</a></li>
    	        <li role="presentation"><a href="#/editnextofkeen/{{id}}" class="active">Emergency Contacts/Next of Kin</a></li>
    	        <li role="presentation"><a href="#/editbusinessdetails/{{id}}">Business Details</a></li>
    	    </ul>
    	</div>
    </div>  
  </div>
    <div calss="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">          
          <div class="loading-indicator">Loading...</div>        
        </div>
      </div>
       <table class="table">
            <thead>                
              <tr>
                <!-- <th>Relationship</th> -->
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th class="number">Telephone</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in clientData">
                <!-- <td>{{row.GuarantorRelationship_cd_relationship}}</td> -->
                <td>
                    <div class="name pointer" >
                      <a ng-click="editNextToKeen($index)">{{row.firstname}} {{row.lastname}}</a>
                    </div>
                </td>
                <td>
                    <div class="name">
                      <a ng-click="editNextToKeen($index)">{{row.date_of_birth[2]}}/{{row.date_of_birth[1]}}/{{row.date_of_birth[0]}}</a>
                    </div>
                </td>
                <td>
                    <div class="name">
                      <a ng-click="editNextToKeen($index)">{{row.address}}</a>
                    </div>
                </td>
                <td class="number" ng-click="editNextToKeen($index)">
                  <span>
                    <a ng-click="editNextToKeen($index)">{{row.telephone}}</a>
                  </span>
                </td>
                <td class="number">
                  <a ng-click="deleteNextToKeen($index)">                      
                      <span class="glyphicon glyphicon-remove pointer"></span>
                  </a>
                </td>
              </tr>
            </tbody>              
          </table>
          <hr/>
      <form name="ClientNextToKeenForm" ng-hide="isLoading" class="form-horizontal" ng-submit="validateClientNextToKeen(clientNextToKeen)" novalidate show-validation>
        <div class="col-md-6">
          <div class="form-group">
              <label class="control-label col-md-4">Relationship<span class="required"> *</span></label>
              <div class="validate col-md-6">
              	<select id="GuarantorRelationship_cd_relationship" ng-model="clientNextToKeen.GuarantorRelationship_cd_relationship" ng-options="columnValues.id as columnValues.value for columnValues in relationship" class="form-control"  value="{{columnValues.id}}"   required>
                  </select>	
              </div>
          </div>
           <div class="form-group">                
              <label class="control-label col-md-4">First Name<span class="required"> *</span></label>
              <div class="validate col-md-6">
                  <input id="firstname" name="firstname" class="form-control" type="text" ng-model="clientNextToKeen.firstname" required></input>
              </div>
          </div>
          <div class="form-group">                
              <label class="control-label col-md-4">Middle Name</label>
              <div class="col-md-6">
                  <input id="middlename" name="middlename" class="form-control" type="text" ng-model="clientNextToKeen.middlename"></input>
              </div>
          </div>
          <div class="form-group">                
              <label class="control-label col-md-4">Last Name<span class="required"> *</span></label>
              <div class="validate col-md-6">
                  <input id="lastname" name="lastname" class="form-control" type="text" ng-model="clientNextToKeen.lastname" required></input>
              </div>
          </div>
           <div class="form-group">                
              <label class="control-label col-md-4">Date Of Birth</label>
              <div class="col-md-6">
                  <input id="date_of_birth" name="date_of_birth" class="form-control" type="text" ng-model="clientNextToKeen.date_of_birth" datepicker-popup="dd/MM/yyyy" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event)" readonly="true" ></input>
              </div>
          </div>
           <div class="form-group">                
              <label class="control-label col-md-4">Main Address</label>
              <div class="col-md-6">
                  <textarea rows="3" id="address" name="address" class="form-control" ng-model="clientNextToKeen.address"></textarea>
              </div>
          </div>
           <div class="form-group">                
              <label class="control-label col-md-4">Main Telephone No.</label>
              <div class="col-md-6">
                  <input id="telephone" name="telephone" class="form-control" type="text" ng-model="clientNextToKeen.telephone" only-digits></input>
              </div>
          </div>
          <div class="form-group">                
              <label class="control-label col-md-4">2nd Telephone No.</label>
              <div class="col-md-6">
                  <input id="second_telephone" name="second_telephone" class="form-control" type="text" ng-model="clientNextToKeen.second_telephone" only-digits></input>
              </div>
          </div>
          </div>
        <hr/>
        <div class="col-md-12">
          <div class="col-md-offset-2 paddedtop">
            <a id="cancel" href="#/editclientidentification/{{id}}" class="btn btn-warning">Back</a>
            <button id="save" type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>  
        </div>         
      </form>
    </div>
  </div>
</div>