<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="CreateClientCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">      
      <div class="header">
        <h3>Create Client</h3>
      </div>      
      <div class="summary">
        <div class="shortcuts">
          <ul role="tablist">
            <li><a href="#/createClient" class="active">Basic Client info</a></li>
            <li><a class="disabled">Additonal Client Info</a></li>
            <li><a class="disabled">Client ID</a></li>
            <li><a class="disabled">Emergency Contacts/Next of Kin</a></li>
            <li><a class="disabled">Business Details</a></li>
          </ul>
        </div>
      </div>
	  </div>	  
    <div calss="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">          
          <div class="loading-indicator">Loading...</div>        
        </div>
      </div>
      <form name="createBasicClientForm" ng-hide="isLoading" class="form-horizontal" ng-submit="validateCreateClient(createClient,createClientWithDataTable)" novalidate show-validation >
          <div class="col-md-6">
            <div class="form-group">                
                <label class="control-label col-md-4">File Number<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="externalId" name="externalId" class="form-control" type="text" ng-model="createClient.externalId" required></input>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Office</label>
                <div class="col-md-6">
                    <select id="officeId" ng-model="createClient.officeId" ng-options="officeOptions.id as officeOptions.name for officeOptions in client.officeOptions" class="form-control"  value="{{officeOptions.id}}">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Loan Officer<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <select id="staffId" ng-model="createClient.staffId" ng-options="staffOptions.id as staffOptions.displayName for staffOptions in client.staffOptions" class="form-control" value="{{staffOptions.id}}" required>
                    </select>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">First Name<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="firstname" name="firstname" class="form-control" type="text" ng-model="createClient.firstname" required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Middle Name</label>
                <div class="col-md-6">
                    <input id="middlename" name="middlename" class="form-control" type="text" ng-model="createClient.middlename"></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Last Name<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="lastname" name="lastname" class="form-control" type="text" ng-model="createClient.lastname" required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Date Of Birth<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="dateOfBirth" name="dateOfBirth" class="form-control" type="text" ng-model="createClient.dateOfBirth"  required></input>

                     <!-- <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="createClient.dateOfBirth" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ></input>
  	              
  	              <span class="input-group-btn">
  	                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
  	              </span> -->
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Gender<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <select id="genderId" ng-model="createClient.genderId" ng-options="genderOptions.id as genderOptions.name for genderOptions in client.genderOptions" class="form-control"  value="{{genderOptions.id}}" required>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Maritial Status<span class="required">*</span></label>
                <div class="validate col-md-6">
                	<select id="YesNo_cd_maritalStatus" ng-model="createClientWithDataTable.YesNo_cd_maritalStatus" class="form-control"  required>
                			<option value="33">Yes</option>
                    		<option value="34">No</option>
                    </select>	
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Name Of Spouse<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="nameOfSpouse" name="nameOfSpouse" class="form-control" type="text" ng-model="createClientWithDataTable.nameOfSpouse" required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Number Of Children<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="numberOfChildren" name="numberOfChildren" class="form-control" type="text" ng-model="createClientWithDataTable.numberOfChildren" required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Number of loan dependants<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="numberOfLoanDependents" name="numberOfLoanDependents" class="form-control" type="text" ng-model="createClientWithDataTable.numberOfLoanDependents" required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Home Contact Address<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <textarea rows="3" id="homeContactAddress" name="homeContactAddress" class="form-control" ng-model="createClientWithDataTable.homeContactAddress" required></textarea>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Home Contact Person</label>
                <div class="col-md-6">
                    <input id="homeContactPerson" name="homeContactPerson" class="form-control" type="text" ng-model="createClientWithDataTable.homeContactPerson"></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">E-Mail</label>
                <div class="col-md-6">
                    <input id="email" name="email" class="form-control" type="text" ng-model="createClientWithDataTable.email"></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">Main Telephone No.<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="mobileNo" name="mobileNo" class="form-control" type="text" ng-model="createClient.mobileNo" only-digits required></input>
                </div>
            </div>
            <div class="form-group">                
                <label class="control-label col-md-4">2nd Telephone No.<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input id="SecondMobileNo" name="SecondMobileNo" class="form-control" type="text" ng-model="createClientWithDataTable.SecondMobileNo" only-digits required></input>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">                
                <label class="control-label col-md-4">Upload Photo.<span class="required">*</span></label>
                <div class="validate col-md-6">
                    <input type="file" class="form-control" required ng-file-select="onFileSelect($files)" />
                </div>
                <div class="control-label col-md-2"></div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-4"></div>
                <div class="col-sm-6 col-md-6">                
                  <div class="thumbnail rows">
                        <img ng-src="images/client_image/noPhoto.jpg" alt="Avatar">
                  </div>
                </div>
            </div>
          </div>  
          <hr/>
          <div class="col-md-12">          
            <div class="col-md-offset-2 paddedtop">
              <a id="cancel" href="/#/clients" class="btn btn-warning">Cancel</a>

              <button id="save" type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>