<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <h3><button type="button" ng-click="editClient()" class="btn btn-primary ng-binding"><i class="icon-edit icon-white"></i>Edit</button></h3>
    </div>

    <!-- debug -->
    <!--
    <div class="row">
      <div class="col-md-12 page-header">
        <div class="col-md-12">
          {{client}}
        </div>
        <div class="col-md-12">
          <span class="glyphicon glyphicon-hourglass" ng-show="loansLoading"></span>
          <span ng-hide="loansLoading">{{loans}}</span>
        </div>
        <div class="col-md-12">
          <span class="glyphicon glyphicon-hourglass" ng-show="notesLoading"></span>
          <span ng-hide="notesLoading">{{notes}}</span>
        </div>
      </div>
    </div>
    -->

    <!-- summary -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.summary=!collapse.summary"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.summary, 'glyphicon-minus': !collapse.summary}"></span></button>
        <h3>Summary <span class="glyphicon glyphicon-hourglass" ng-show="clientLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="clientLoading" ng-class="{collapse: collapse.summary}">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Activation date:</dt>
                    <dd>
                      {{client.activationDate}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Created date:</dt>
                    <dd>
                      {{client.timeline.submittedOnDate}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Created by:</dt>
                    <dd>
                      {{client.timeline.submittedByFirstname}}&nbsp;{{client.timeline.submittedByLastname}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Office:</dt>
                    <dd>
                      {{client.officeName}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Loan Officer:</dt>
                    <dd>
                      {{client.staffName}}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12">
                      <span class="glyphicon glyphicon-hourglass" ng-show="imageLoading"></span>
                      <div class="thumbnail" style="max-width: 240px; max-height: none;">
                        <img width="100%" ng-hide="client.imagePresent" ng-src="images/noPhoto.jpg" alt="Avatar">
                        <img width="100%" ng-show="client.imagePresent" ng-src="{{image}}" alt="Avatar">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            &nbsp;
          </div>
        </div>

        <!-- basic -->
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.loans=!collapse.loans"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.loans, 'glyphicon-minus': !collapse.loans}"></span></button>
                <h4>Loans <span>(# {{loans.length}})</span></h4>
              </div>
              <div class="panel-body" ng-class="{collapse: collapse.loans}">
                <div class="row">
                  <div class="col-md-4" ng-repeat="(name, count) in loanGroups">
                    <h5>{{name}} #: {{count}}</h5>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    &nbsp;
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-condensed table-striped">
                      <thead>
                      <tr>
                        <th>Product</th>
                        <th>Status</th>
                        <th>Principal</th>
                        <th>Date</th>
                        <th>Officer</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="loan in loans">
                        <td>{{loan.loanProductName}}</td>
                        <td>{{loan.status.value}}</td>
                        <td>{{loan.principal}} {{loan.currency.code}}</td>
                        <td>{{loan.timeline.submittedOnDate}}</td>
                        <td>{{loan.loanOfficerName}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- basic -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.personal=!collapse.personal"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.personal, 'glyphicon-minus': !collapse.personal}"></span></button>
        <h3>Personal Information <span class="glyphicon glyphicon-hourglass" ng-show="clientLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="clientLoading" ng-class="{collapse: collapse.personal}">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>File Number:</dt>
                    <dd>
                      {{client.externalId}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>First Name:</dt>
                    <dd>
                      {{client.firstname}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Middle Name:</dt>
                    <dd>
                      {{client.middlename}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Last Name:</dt>
                    <dd>
                      {{client.lastname}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Date Of Birth:</dt>
                    <dd>
                      {{client.dateOfBirth}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Gender:</dt>
                    <dd>
                      {{client.gender.name}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Marital Status:</dt>
                    <dd>
                      {{extra.MaritalStatus_cd_maritalStatus}}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row" ng-show="extra.MaritalStatus_cd_maritalStatus == 55">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Name Of Spouse:</dt>
                    <dd>
                      {{extra.nameOfSpouse}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Children:</dt>
                    <dd>
                      {{extra.numberOfChildren}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Loan dependants:</dt>
                    <dd>
                      {{extra.numberOfLoanDependents}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Home Address:</dt>
                    <dd>
                      {{extra.homeContactAddress}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Home Contact:</dt>
                    <dd>
                      {{extra.homeContactPerson}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>E-Mail:</dt>
                    <dd>
                      {{extra.email}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Main Phone:</dt>
                    <dd>
                      {{client.mobileNo}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>2nd Phone:</dt>
                    <dd>
                      {{extra.SecondMobileNo}}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- additional -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.additional=!collapse.additional"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.additional, 'glyphicon-minus': !collapse.additional}"></span></button>
        <h3>Additional <span class="glyphicon glyphicon-hourglass" ng-show="additionalLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="additionalLoading" ng-class="{collapse: collapse.additional}">
        <div class="row">
          <div class="col-md-6">
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account:</dt>
                  <dd>
                    {{additional.YesNo_cd_bank_account}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account with:</dt>
                  <dd>
                    {{additional.bank_account_with}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank branch:</dt>
                  <dd>
                    {{additional.branch}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account #:</dt>
                  <dd>
                    {{additional.bank_account_number}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Citizenship:</dt>
                  <dd>
                    {{additional.CitizenShip_cd_citizenship}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Education:</dt>
                  <dd>
                    {{additional.Education_cd_education_level}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Poverty status:</dt>
                  <dd>
                    {{additional.Poverty_cd_poverty_status}}
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by:</dt>
                  <dd>
                    {{additional.Introduced_by_cd_introduced_by}}
                  </dd>
                </dl>
              </div>
            </div>
            -->
            <div class="row" ng-show="additional.introducer_client.displayName">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by client:</dt>
                  <dd>
                    {{additional.introducer_client.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.introducer_loanOfficer.displayName">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by officer:</dt>
                  <dd>
                    {{additional.introducer_loanOfficer.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.introducer_other">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introducer other:</dt>
                  <dd>
                    {{additional.introducer_other}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Known since:</dt>
                  <dd>
                    {{additional.knownToIntroducerSince}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Visited by:</dt>
                  <dd>
                    {{additional.visitedById.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Visiting date:</dt>
                  <dd>
                    {{additional.visitingDate}}
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- identity -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.identity=!collapse.identity"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.identity, 'glyphicon-minus': !collapse.identity}"></span></button>
        <h3>Documents and Identity <span ng-show="collapse.identity">({{identifications.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="identityLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="identityLoading" ng-class="{collapse: collapse.identity}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th>Type</th>
                <th>ID</th>
                <th>Date</th>
                <th>Place</th>
                <th>Documents</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="identification in identifications">
                <td>{{identification.documentTypeId}}</td>
                <td>{{identification.documentKey}}</td>
                <td>{{identification.issue_date}}</td>
                <td>{{identification.issue_place}}</td>
                <td>
                  <span class="glyphicon glyphicon-hourglass" ng-show="documentsLoading"></span>
                  <ul ng-hide="documentsLoading">
                    <li ng-repeat="document in identification.documents">
                      <a href="" ng-click="downloadDocument(document)">{{document.fileName}}</a>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" ng-show="previewLoading || preview">
              <div class="panel-heading">
                <h4 ng-show="previewLoading"><span class="glyphicon glyphicon-hourglass"></span></h4>
                <h4 ng-show="preview">Document Preview <button type="button" class="btn btn-sm btn-default pull-right" ng-click="clearPreview()"><span class="glyphicon glyphicon-remove"></span></button></h4>
              </div>
              <div class="panel-body" ng-show="preview">
                <img style="max-width: 100%" ng-src="{{preview}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- next of keen -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.nextOfKeen=!collapse.nextOfKeen"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.nextOfKeen, 'glyphicon-minus': !collapse.nextOfKeen}"></span></button>
        <h3>Next of Keen <span ng-show="collapse.nextOfKeen">({{nextOfKeens.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="nextOfKeenLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="nextOfKeenLoading" ng-class="{collapse: collapse.nextOfKeen}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Relation</th>
                <th>DOB</th>
                <th>Tel. #1</th>
                <th>Tel. #2</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="nextOfKeen in nextOfKeens">
                <td>{{nextOfKeen.firstname}}</td>
                <td>{{nextOfKeen.middlename}}</td>
                <td>{{nextOfKeen.lastname}}</td>
                <td>{{nextOfKeen.GuarantorRelationship_cd_relationship}}</td>
                <td>{{nextOfKeen.date_of_birth}}</td>
                <td>{{nextOfKeen.telephone}}</td>
                <td>{{nextOfKeen.second_telephone}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- business -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.business=!collapse.business"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.business, 'glyphicon-minus': !collapse.business}"></span></button>
        <h3>Business Details <span ng-show="collapse.business">({{businessActivities.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="businessLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="businessLoading" ng-class="{collapse: collapse.business}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th>Activity</th>
                <th>Name</th>
                <th>Address</th>
                <th>Operating since</th>
                <th>Book kepping</th>
                <th>Income</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="businessActivity in businessActivities">
                <td>{{businessActivity.BusinessActivity_cd_business_activity}}</td>
                <td>{{businessActivity.business_name}}</td>
                <td>{{businessActivity.business_address}}</td>
                <td>{{businessActivity.operating_since}}</td>
                <td>{{businessActivity.YesNo_cd_book_keeping}}</td>
                <td>{{businessActivity.BusinessActivity_cd_other_income_business_activity}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- notes -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.notes=!collapse.notes"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.notes, 'glyphicon-minus': !collapse.notes}"></span></button>
        <h3>Notes <span ng-show="collapse.notes">({{notes.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="notesLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="notesLoading" ng-class="{collapse: collapse.notes}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th>Note</th>
                <th>Phone</th>
                <th>Called</th>
                <th>Staff</th>
                <th>Visited</th>
                <th>Created</th>
                <th>Source</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="note in notes">
                <td>{{note.note}}</td>
                <td>{{note.phone}}</td>
                <td>{{note.called_at}}</td>
                <td>{{note.staff_username}}</td>
                <td>{{note.visited_at}}</td>
                <td>{{note.created_at}}</td>
                <td>{{note.NoteSource_cd_source}}</td>
                <td>{{note}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>