<div class="container post-login">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="rows">
    <div class="page-header">
      <h3><button type="button" ng-click="editClient()" class="btn btn-primary ng-binding"><i class="icon-edit icon-white"></i>Edit</button></h3>
    </div>

    <!-- debug -->
    <!--
    <div class="row">
      <div class="col-md-12 page-header">
        <div class="col-md-12">
          {{client}}
        </div>
        <div class="col-md-12">
          <span class="glyphicon glyphicon-hourglass" ng-show="loansLoading"></span>
          <span ng-hide="loansLoading">{{loans}}</span>
        </div>
        <div class="col-md-12">
          <span class="glyphicon glyphicon-hourglass" ng-show="notesLoading"></span>
          <span ng-hide="notesLoading">{{notes}}</span>
        </div>
      </div>
    </div>
    -->

    <!-- summary -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.summary=!collapse.summary"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.summary, 'glyphicon-minus': !collapse.summary}"></span></button>
        <h3>Summary <span class="glyphicon glyphicon-hourglass" ng-show="clientLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="clientLoading" ng-class="{collapse: collapse.summary}">
        <div class="row">
          <div class="col-md-8">
            <div class="row hidden-md hidden-lg">
              <div class="col-md-12">
                <div class="thumbnail pull-right" style="width: 160px; max-height: none;">
                  <img width="100%" ng-hide="client.imagePresent" ng-src="images/noPhoto.jpg" alt="Avatar">
                  <img width="100%" ng-show="client.imagePresent" ng-src="{{image}}" alt="Avatar">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Activation date:</dt>
                  <dd>
                    {{client.activationDate}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Created date:</dt>
                  <dd>
                    {{client.timeline.submittedOnDate}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Created by:</dt>
                  <dd>
                    {{client.timeline.submittedByFirstname}}&nbsp;{{client.timeline.submittedByLastname}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Office:</dt>
                  <dd>
                    {{client.officeName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Loan Officer:</dt>
                  <dd>
                    {{client.staffName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt># Loan Cycle:</dt>
                  <dd>
                    <ul class="list-group">
                      <li class="list-group-item">
                        {{loans.length}}
                      </li>
                      <li class="list-group-item" ng-repeat="(name, count) in loanGroups">
                        # {{name}}: {{count}}
                      </li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <!--
              <div class="col-md-3 hidden-sm">
                <dl class="dl-horizontal">
                  <dt>Status:</dt>
                </dl>
              </div>
              -->
              <div class="col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3">
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <div class="dropdown" style="margin-bottom: 10px">
                      <button class="btn dropdown-toggle" ng-class="{'btn-success': client.status.id==300, 'btn-warning': client.status.id==100, 'btn-default': client.status.id==800 || client.status.id==600, 'btn-danger': client.status.id==700}" type="button" id="statusDropdown" data-toggle="dropdown" aria-expanded="true">
                        <span>{{client.status.value}}</span>&nbsp;<span class="glyphicon glyphicon-arrow-right" ng-show="clientStatus.code"></span>&nbsp;<span ng-show="clientStatus.code">{{clientStatus.code}}</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="statusDropdown">
                        <li role="presentation" ng-repeat="action in clientActions"><a role="menuitem" tabindex="-1" href="" ng-click="selectClientStatus(action.code)">{{action.label}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="btn-group" ng-if='statusReasons.length>0'>
                    <div class="dropdown">
                      <button class="btn dropdown-toggle btn-default" type="button" id=reasonDropdown" data-toggle="dropdown" aria-expanded="true">
                        <span>{{clientStatus.reason.name}}</span><span ng-hide="clientStatus.reason.name">Select...</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="reasonDropdown" style="overflow: visible;">
                        <li role="presentation" ng-repeat="reason in statusReasons"><a role="menuitem" tabindex="-1" href="" ng-click="selectClientStatusReason(reason)">{{reason.name}}</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="btn-group" ng-if="clientStatus">
                    <button type="button" class="btn btn-primary" ng-click="saveClientStatus()" ng-disabled="clientStatus.code!='reactivate' && clientStatus.code!='activate' && !clientStatus.reason.name">Save</button>
                    <button type="button" class="btn btn-warning" ng-click="cancelClientStatus()">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <span class="glyphicon glyphicon-hourglass" ng-show="imageLoading"></span>
                    <div class="thumbnail" style="max-width: 240px; max-height: none;">
                      <img width="100%" ng-hide="client.imagePresent" ng-src="images/noPhoto.jpg" alt="Avatar">
                      <img width="100%" ng-show="client.imagePresent" ng-src="{{image}}" alt="Avatar">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- loans -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.loans=!collapse.loans"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.loans, 'glyphicon-minus': !collapse.loans}"></span></button>
        <h3>Loans <span ng-show="collapse.loans">({{loans.length}})</span></h3>
      </div>
      <div class="panel-body" ng-class="{collapse: collapse.loans}">
        <table class="table table-condensed table-striped">
          <thead>
          <tr>
            <th>Product</th>
            <th>Status</th>
            <th>Principal</th>
            <th>Date</th>
            <th>Officer</th>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="loan in loans">
            <td>{{loan.loanProductName}}</td>
            <td>{{loan.status.value}}</td>
            <td>{{loan.principal}} {{loan.currency.code}}</td>
            <td>{{loan.timeline.submittedOnDate}}</td>
            <td>{{loan.loanOfficerName}}</td>
            <td class="text-right">
              <button type="button" class="btn btn-sm btn-primary" ng-click="loadLoanNotes(loan.id)"><span class="glyphicon glyphicon-comment"></span></button>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger alert-dismissible" ng-show="loanNotes.length==0">
              <button type="button" class="close" ng-click="loanNotes=null"><span class="glyphicon glyphicon-remove"></span></button>
              <p>No notes found</p>
            </div>
            <div class="alert alert-info alert-dismissible" ng-hide="!loanNotes || loanNotes.length==0">
              <button type="button" class="close" ng-click="loanNotes=null"><span class="glyphicon glyphicon-remove"></span></button>
              <table class="table table-condensed table-striped">
                <thead>
                <tr>
                  <th>Description</th>
                  <th>Created by</th>
                  <th>Created at</th>
                  <th>Follow up</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="note in loanNotes">
                  <td>{{note.description}}</td>
                  <td>{{note.createdByUserName}}</td>
                  <td>{{note.createdDate}}</td>
                  <td>{{note.followUpDate}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- basic -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.personal=!collapse.personal"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.personal, 'glyphicon-minus': !collapse.personal}"></span></button>
        <h3>Personal Information <span class="glyphicon glyphicon-hourglass" ng-show="clientLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="clientLoading" ng-class="{collapse: collapse.personal}">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>File Number:</dt>
                    <dd>
                      {{client.externalId}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>First Name:</dt>
                    <dd>
                      {{client.firstname}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Middle Name:</dt>
                    <dd>
                      {{client.middlename}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Last Name:</dt>
                    <dd>
                      {{client.lastname}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Date Of Birth:</dt>
                    <dd>
                      {{client.dateOfBirth}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Gender:</dt>
                    <dd>
                      {{client.gender.name}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Marital Status:</dt>
                    <dd>
                      {{extra.MaritalStatus_cd_maritalStatus}}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row" ng-show="extra.MaritalStatus_cd_maritalStatus == 55">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Name Of Spouse:</dt>
                    <dd>
                      {{extra.nameOfSpouse}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Children:</dt>
                    <dd>
                      {{extra.numberOfChildren}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Loan dependants:</dt>
                    <dd>
                      {{extra.numberOfLoanDependents}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Home Address:</dt>
                    <dd>
                      {{extra.homeContactAddress}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Home Contact:</dt>
                    <dd>
                      {{extra.homeContactPerson}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>E-Mail:</dt>
                    <dd>
                      {{extra.email}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>Main Phone:</dt>
                    <dd>
                      {{client.mobileNo}}
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <dl class="dl-horizontal">
                    <dt>2nd Phone:</dt>
                    <dd>
                      {{extra.SecondMobileNo}}
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- additional -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.additional=!collapse.additional"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.additional, 'glyphicon-minus': !collapse.additional}"></span></button>
        <h3>Additional Information <span class="glyphicon glyphicon-hourglass" ng-show="additionalLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="additionalLoading" ng-class="{collapse: collapse.additional}">
        <div class="row">
          <div class="col-md-6">
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account:</dt>
                  <dd>
                    {{additional.YesNo_cd_bank_account}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account with:</dt>
                  <dd>
                    {{additional.bank_account_with}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank branch:</dt>
                  <dd>
                    {{additional.branch}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.YesNo_cd_bank_account=='Yes'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Bank account #:</dt>
                  <dd>
                    {{additional.bank_account_number}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Citizenship:</dt>
                  <dd>
                    {{additional.CitizenShip_cd_citizenship}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Education:</dt>
                  <dd>
                    {{additional.Education_cd_education_level}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Poverty status:</dt>
                  <dd>
                    {{additional.Poverty_cd_poverty_status}}
                  </dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <!--
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by:</dt>
                  <dd>
                    {{additional.Introduced_by_cd_introduced_by}}
                  </dd>
                </dl>
              </div>
            </div>
            -->
            <div class="row" ng-show="additional.Introduced_by_cd_introduced_by == 'existing_client'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by client:</dt>
                  <dd>
                    {{additional.introducer_client.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.Introduced_by_cd_introduced_by == 'loan_officer'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introduced by officer:</dt>
                  <dd>
                    {{additional.introducer_loanOfficer.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row" ng-show="additional.Introduced_by_cd_introduced_by == 'other'">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Introducer other:</dt>
                  <dd>
                    {{additional.introducer_other}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Known since:</dt>
                  <dd>
                    {{additional.knownToIntroducerSince}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Visited by:</dt>
                  <dd>
                    {{additional.visitedById.displayName}}
                  </dd>
                </dl>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <dl class="dl-horizontal">
                  <dt>Visiting date:</dt>
                  <dd>
                    {{additional.visitingDate}}
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- identity -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.identity=!collapse.identity"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.identity, 'glyphicon-minus': !collapse.identity}"></span></button>
        <h3>Documents and Identity <span ng-show="collapse.identity">({{identifications.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="identityLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="identityLoading" ng-class="{collapse: collapse.identity}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th>Type</th>
                <th>ID</th>
                <th>Date</th>
                <th>Place</th>
                <th>Documents</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="identification in identifications">
                <td>{{identification.documentTypeName}}</td>
                <td>{{identification.documentKey}}</td>
                <td>{{identification.issue_date}}</td>
                <td>{{identification.issue_place}}</td>
                <td>
                  <span class="glyphicon glyphicon-hourglass" ng-show="documentsLoading"></span>
                  <ul ng-hide="documentsLoading">
                    <li ng-repeat="document in identification.documents">
                      <a href="" ng-click="downloadDocument(document)">{{document.fileName}}</a>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" ng-show="previewLoading || preview">
              <div class="panel-heading">
                <h4 ng-show="previewLoading"><span class="glyphicon glyphicon-hourglass"></span></h4>
                <h4 ng-show="preview">Document Preview <button type="button" class="btn btn-sm btn-default pull-right" ng-click="clearPreview()"><span class="glyphicon glyphicon-remove"></span></button></h4>
              </div>
              <div class="panel-body" ng-show="preview">
                <img style="max-width: 100%" ng-src="{{preview}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- next of kin -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.nextOfKeen=!collapse.nextOfKeen"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.nextOfKeen, 'glyphicon-minus': !collapse.nextOfKeen}"></span></button>
        <h3>Next of Kin <span ng-show="collapse.nextOfKeen">({{nextOfKeens.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="nextOfKeenLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="nextOfKeenLoading" ng-class="{collapse: collapse.nextOfKeen}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th class="text">Firstname</th>
                <th class="text">Middlename</th>
                <th class="text">Lastname</th>
                <th class="text">Relation</th>
                <th class="date">DOB</th>
                <th class="number">Tel. #1</th>
                <th class="number">Tel. #2</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="nextOfKeen in nextOfKeens">
                <td class="text">{{nextOfKeen.firstname}}</td>
                <td class="text">{{nextOfKeen.middlename}}</td>
                <td class="text">{{nextOfKeen.lastname}}</td>
                <td class="text">{{nextOfKeen.GuarantorRelationship_cd_relationship}}</td>
                <td class="date">{{nextOfKeen.date_of_birth}}</td>
                <td class="number">{{nextOfKeen.telephone}}</td>
                <td class="number">{{nextOfKeen.second_telephone}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- business -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.business=!collapse.business"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.business, 'glyphicon-minus': !collapse.business}"></span></button>
        <h3>Business Details <span ng-show="collapse.business">({{businessActivities.length}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="businessLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="businessLoading" ng-class="{collapse: collapse.business}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th class="text">Activity</th>
                <th class="text">Name</th>
                <th class="text">Address</th>
                <th class="date">Operating since</th>
                <th class="date">Book kepping</th>
                <th class="number">Income</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="businessActivity in businessActivities">
                <td class="text">{{businessActivity.BusinessActivity_cd_business_activity}}</td>
                <td class="text">{{businessActivity.business_name}}</td>
                <td class="text">{{businessActivity.business_address}}</td>
                <td class="date">{{businessActivity.operating_since}}</td>
                <td class="date">{{businessActivity.YesNo_cd_book_keeping}}</td>
                <td class="number">{{businessActivity.BusinessActivity_cd_other_income_business_activity}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- notes -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <button type="button" class="btn btn-sm btn-default pull-right" ng-click="collapse.notes=!collapse.notes"><span class="glyphicon" ng-class="{'glyphicon-plus': collapse.notes, 'glyphicon-minus': !collapse.notes}"></span></button>
        <h3>Notes <span ng-show="collapse.notes">({{notes ? notes.length : '0'}})</span> <span class="glyphicon glyphicon-hourglass" ng-show="notesLoading"></span></h3>
      </div>
      <div class="panel-body" ng-hide="notesLoading" ng-class="{collapse: collapse.notes}">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-condensed table-striped">
              <thead>
              <tr>
                <th class="text">Note</th>
                <th class="number">Phone</th>
                <th class="date">Called</th>
                <th class="text">Staff</th>
                <th class="date">Visited</th>
                <th class="date">Created</th>
                <th class="text">Source</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="note in notes">
                <td class="text">{{note.notes}}</td>
                <td class="number"{{note.phone}}</td>
                <td class="date">{{note.called_at}}</td>
                <td class="text">{{note.staff_username}}</td>
                <td class="date">{{note.visited_at}}</td>
                <td class="date">{{note.created_at}}</td>
                <td class="text">{{note.NoteSource_cd_source}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>