@media only screen and (min-width: 768px) and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\000037}}
  .navbar-right {
    float: left !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000311}}
  .main-nav ul {
    float: left;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000315}}
  .navbar-nav li {
    display: block;
    float: none;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000320}}
  .navbar-nav li a.notifications {
    border: none;
    margin: 0;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000324}}
  .navbar-nav li a.notifications strong {
    top: 18px;
    left: 115px;
    right: 81%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000329}}
  .main-nav {
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000332}}
  .navbar-toggle {
    display: inline-block;
    float: right;
    margin-right: 0px;
    margin-left: 10px;
    padding: 9px 10px;
    margin-top: 13px;
    margin-bottom: 8px;
    background-color: #000 !important;
    background-image: none;
    border: none;
    border-radius: 4px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000345}}
  .navbar-form {
    width: 450px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000347}}
  .navbar-form .form-group {
    display: block;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000350}}
  .navbar-form .form-group input {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000354}}
  .summary .horizontal dt {
    padding: 0 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000357}}
  .summary .horizontal dd {
    margin-right: 5px;
    width: 118px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000363}}
  .filters ul {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000363}}
  .filters ul {
    float: left;
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000363}}
  .filters ul {
    float: left;
    width: 83.3333333333%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000367}}
  .filters ul > li > a {
    font-size: 11px;
    padding: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000371}}
  .filters .search {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 992px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000371}}
  .filters .search {
    float: left;
    width: 25%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000371}}
  .filters .search {
    float: left;
    width: 16.6666666667%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000375}}
  .filters .search .search-box {
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000381}}
  .badge {
    width: 22px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/aspire4\/git\/FINEMSYS\/FINTECH-UI\/app\/styles\/main-tablet\.scss}line{font-family:\0000385}}
  .col-xs-2.text-right {
    text-align: left;
    width: 5px;
  }
}
