<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login" ng-controller="CreateChargeCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="shortcuts">
      <ul role="tablist"> 
        <li role="presentation"><a href="#/loanProducts">Loan Products</a></li>
        <li role="presentation"><a href="#/charges" class="active">Charges</a></li>
      </ul>
  </div>
  <br/><br/>
  <div class="rows">
    <div class="page-header">
    <div class="header">
      <h3>Create Charge</h3>
      <div class="action"></div>
    </div>
    </div>
    <div calss="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">          
          <div class="loading-indicator">Loading...</div>        
        </div>
      </div>
      <form name="createChargeForm" ng-hide="isLoading" class="form-horizontal" ng-submit="saveCharge(chargeDetails)" novalidate show-validation>
        <div calss="col-md-12">
          <div class="form-group">                
              <label class="control-label col-md-3">Name<span class="required">*</span></label>
              <div class="validate col-md-3">
                  <input id="name" name="name" class="form-control" type="text" ng-model="chargeDetails.name" required></input>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Currency<span class="required">*</span></label>
              <div class="validate col-md-3">
                  <select id="currencyCode" ng-model="chargeDetails.currencyCode" class="form-control"
                    ng-options="currency.code as currency.name for currency in product.currencyOptions"
                    value="{{currency.code}}">
                    </select>
              </div>
          </div> 
          <div class="form-group">
              <label class="control-label col-md-3">Type<span class="required">*</span></label>
              <div class="col-md-3">
                  <select id="type" ng-model="chargeDetails.penalty" class="form-control"  value="">
                    <option value="false">Charge</option>
                    <option value="true">Penalty</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Applies To</label>
              <div class="col-md-3">
                  <select id="chargeAppliesTo" name="chargeappliesto" ng-model="chargeDetails.chargeAppliesTo" class="form-control">
                    <option value="1" >Loan</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Application Frequency<span class="required">*</span></label>
              <div class="col-md-3">                  
                  <select id="chargeTimeType" name="chargetimetype" ng-model="chargeDetails.chargeTimeType"
                          value="{{timetype.id}}" class="form-control">                  
                    <option value="8">Every installment</option>
                    <option value="9">After final maturity</option>
                  </select>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Charge Type<span class="required">*</span></label>
              <div class="col-md-3">                  
                  <select id="chargeCalculationType" name="chargecalculation" ng-model="chargeDetails.chargeCalculationType" value="{{chargecalculation.id}}" class="form-control">
                          <option value="1">Flat</option>
                          <option value="2">% Amount</option>
                  </select>                  
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-md-3">Ammount
              <span ng-show="chargeDetails.chargeCalculationType==2">(%)</span>
              <span class="required">*</span>
              </label>
              <div class="validate col-md-3">                  
                  <input id="flat" name="flat" ng-show="chargeDetails.chargeCalculationType==1" type="text" ng-model="flat" class="form-control" only-digits required>
                  </input>
                  <input id="percentage" name="percentage" ng-show="chargeDetails.chargeCalculationType==2" type="text" ng-model="percentage" class="form-control" only-digits required maxlength="3">
                  </input>
              </div>
          </div>
          <hr/>
          <div class="col-md-offset-3 paddedtop">
            <a id="cancel" href="#/charges" class="btn btn-warning">Cancel</a>
            <button id="save" type="submit" class="btn btn-primary" ng-show="hasAnyPermission(['CREATE_CHARGE', 'UPDATE_CHARGE'])">Save</button>
          </div>
        </div>         
      </form>
    </div>
  </div>
</div>