<div class="container post-login" ng-controller="LoanProductsCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="shortcuts loanRelatedStyle"> 
      <ul role="tablist">
        <li role="presentation" ng-show="hasPermission('READ_LOANPRODUCT')"><a href="#/loanProducts" class="active">Loan Products</a></li>
        <li role="presentation" ng-show="hasPermission('READ_CHARGE')"><a href="#/charges">Charges</a></li>
      </ul>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" st-set-filter="smartTableSearchFilter" class="table">
      <thead>
        <tr>
          <th colspan="4">
              <div class="filters" >
                <div style="float:right;">            
                  <ul role="tablist">
                    <li role="presentation">
                    <div class="action" ng-show="hasPermission('CREATE_LOANPRODUCT')">
                      <a href="#/createloanproduct" class="btn grid-button" >
                          Create Loan Product
                      </a>
                    </div>
                    </li>
                 </ul> 
                </div>
                <div class="search" style="float:right;">
                    <input type="text" st-search="tableSearch" class="search-box" placeholder="Search Loan Products" ng-model="tableSearch" />
                </div>
             </div>  
          </th>
        </tr>
        <tr>
          <th st-sort="name">Loan Product Name</th>
          <th st-sort="description">Description</th>
          <th st-sort="repaymentFrequencyType.value">Repayment Frequency</th>
          <th st-sort="interestRatePerPeriod" class="number">Interest Rate</th>          
        </tr>
      </thead>
      <tbody ng-hide="isLoading">        
        <tr class="pointer" st-select-row="row" st-select-mode="single" ng-repeat="loanProducts in displayed">
          <td data-ng-click="routeTo(loanProducts.id)">
            {{loanProducts.name}}
          </td>
          <td data-ng-click="routeTo(loanProducts.id)">
            {{loanProducts.description}}
          </td>
          <td data-ng-click="routeTo(loanProducts.id)">              
              {{loanProducts.repaymentFrequencyType.value | getRepaymentFrequencyType }}              
          </td>
          <td class="number" data-ng-click="routeTo(loanProducts.id)">            
              {{loanProducts.interestRatePerPeriod}}
          </td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="8" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="8">
              <div class="table-footer">
                <div class="export">
                    <strong>Export: <a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a></strong>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages" st-template="views/common/pagination.tpl.html"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>
