<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="MapAccountingCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <div class="shortcuts">
      <ul role="tablist">
        <li role="presentation"><a href="#/loanProducts" class="active">Loan Products</a></li>
        <li role="presentation"><a href="#/charges">Charges</a></li>
      </ul>
  </div>
  <br/>
  <div class="rows">
    <div class="page-header">
      <div class="header">
        <h3>Edit Loan Product</h3>
        <div class="action"></div>
      </div>
      <div class="summary">
        <div class="shortcuts">
            <ul role="tablist">
              <li><a class="pointer" ng-click="setStep(1)">Edit Product</a></li>
              <li><a class="pointer" ng-click="setStep(2)">Charges</a></li>
              <li><a class="pointer active" href="#/mapAccount/{{id}}">Accounting</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div calss="col-md-12">
      <div class="col-md-12" ng-show="isLoading">
        <div class="form-group">          
          <div class="loading-indicator">Loading...</div>        
        </div>
      </div>
      <form name="mapAccountingLoanform" ng-hide="isLoading" class="form-horizontal" novalidate  show-validation ng-submit="updateLoanProduct()">
        <div class="col-md-12 " ng-hide='true'>
          <div class="radio-inline">          
              <input type="radio" ng-model="mapAccountingForm.accountingRule" value="1"/>
              None          
          </div>
          <!--
          <div class="radio-inline">          
              <input type="radio" ng-model="mapAccountingForm.accountingRule" value="2"/>
              Cash
          </div>
          <div class="radio-inline">          
              <input type="radio" ng-model="mapAccountingForm.accountingRule" value="3"/>
              Accrual (periodic)
          </div>
          -->
          <div class="radio-inline">          
              <input type="radio" ng-model="mapAccountingForm.accountingRule" value="4"/>
              Accrual (upfront)
          </div>
          <hr/>
        </div>      
        <div class="col-md-12" ng-show="isAccountingEnabled()">
          <div class="form-group">
            <h4>Assets</h4>
            <label class="control-label col-sm-2">Fund source</label>          
            <div class="col-sm-3">
              <select id="fundSourceAccountId" class="form-control" ng-model="mapAccountingForm.fundSourceAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in fundSourceOption" value="{{assetAccount.id}}" >
                <option class="displaynone" value="">-- Select -- </option>
                <!--
                <option ng-repeat="assetAccount in filterTransferSuspense(assetAccountOptions)" value="{{assetAccount.id}}">
                  {{assetAccount.name}}
                </option>
                -->
              </select>
            </div>
            <div class="col-sm-1"></div>
            <label class="control-label col-sm-2">Loan portfolio</label>            
            <div class="col-sm-3">
              <select id="loanPortfolioAccountId" class="form-control" ng-model="mapAccountingForm.loanPortfolioAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in loanPortfolioOption" value="{{assetAccount.id}}" >
                <option class="displaynone" value="">-- Select -- </option>                
              </select>
            </div>              
          </div>
          <div class="form-group" ng-show="isAccrualAccountingEnabled()">
            <label class="control-label col-sm-2">Interest Receivable</label>            
            <div class="col-sm-3">
              <select id="receivableInterestAccountId" class="form-control" ng-model="mapAccountingForm.receivableInterestAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in interestReceivableOption" value="{{assetAccount.id}}" >
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>
            <div class="col-sm-1"></div>
            <label class="control-label col-sm-2">Fees Receivable</label>           
            <div class="col-sm-3">
              <select id="receivableFeeAccountId" class="form-control" ng-model="mapAccountingForm.receivableFeeAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in feesReceivableOption" value="{{assetAccount.id}}" >
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>              
          </div>
          <div class="form-group" ng-show="isAccrualAccountingEnabled()">
              <label class="control-label col-sm-2">Penalties Receivable</label>            
              <div class="col-sm-3">
                <select id="receivablePenaltyAccountId" class="form-control" ng-model="mapAccountingForm.receivablePenaltyAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in penaltiesReceivableOption" value="{{assetAccount.id}}" >
                  <option class="displaynone" value="">-- Select -- </option>
                </select>
              </div>
          </div>
          <div class="form-group" ng-hide='true'>
            <label class="control-label col-sm-2">Transfer in suspense</label>
            <div class="col-sm-3">
              <select id="transfersInSuspenseAccountId" class="form-control" ng-model="mapAccountingForm.transfersInSuspenseAccountId" ng-change="changeAssetsOptions();" ng-options="assetAccount.id as assetAccount.name for assetAccount in transferSuspenseOption" value="{{assetAccount.id}}" >
                <option class="displaynone" value="0">-- Select -- </option>                
              </select>
            </div>              
          </div>
          <hr/>
          <div class="form-group">
            <h4>Income</h4>
            <label class="control-label col-sm-2">Income from Interest</label>
            <div class="col-sm-3">
              <select id="interestOnLoanAccountId" class="form-control" ng-model="mapAccountingForm.interestOnLoanAccountId" ng-change="changeIncomeOptions();" ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in interestOnLoanOption" value="{{incomeAccount.id}}">
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>
            <div class="col-sm-1"></div>
            <label class="control-label col-sm-2">Income from fees</label>          
            <div class="col-sm-3">
              <select id="incomeFromFeeAccountId" class="form-control" ng-model="mapAccountingForm.incomeFromFeeAccountId" ng-change="changeIncomeOptions();"  ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeFromFeeOption"value="{{incomeAccount.id}}">
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>              
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2">Income from penalties</label>            
              <div class="col-sm-3">
                <select id="incomeFromPenaltyAccountId" class="form-control" ng-model="mapAccountingForm.incomeFromPenaltyAccountId" ng-change="changeIncomeOptions();"  ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeFromPenaltyOption" value="{{incomeAccount.id}}">
                  <option class="displaynone" value="">-- Select -- </option>
                </select>
              </div>
              <div class="col-sm-1"></div>
              <label class="control-label col-sm-2" ng-hide='true'>Income from Recovery Repayments</label>
              <div class="col-sm-3" ng-hide='true'>
                <select id="incomeFromRecoveryAccountId" class="form-control" ng-model="mapAccountingForm.incomeFromRecoveryAccountId" ng-change="changeIncomeOptions();"  ng-options="incomeAccount.id as incomeAccount.name for incomeAccount in incomeFromRecoveryOption" value="{{incomeAccount.id}}">
                  <option class="displaynone" value="0">-- Select -- </option>
                </select>
              </div>
          </div>
          <hr/>
          <div class="form-group">
            <h4>Expenses</h4>
            <label class="control-label col-sm-2">Loses written off</label>            
            <div class="col-sm-3">
              <select id="writeOffAccountId" class="form-control" ng-model="mapAccountingForm.writeOffAccountId" ng-change="changeExpenseOptions();" ng-options="expenseAccount.id as expenseAccount.name for expenseAccount in losesexpenseAccountOptions" value="{{expenseAccount.id}}">
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>
            <div class="col-sm-1"></div>
            <label class="control-label col-sm-2">Interest written off</label>
            <div class="col-sm-3">
              <select id="interestWrittenOffId" class="form-control" ng-model="mapAccExtraForm.interestWrittenOff" ng-change="changeExpenseOptions();"  ng-options="expenseAccount.id as expenseAccount.name for expenseAccount in interestexpenseAccountOptions" value="{{expenseAccount.id}}">
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">LPI written off</label>            
            <div class="col-sm-3">
              <select id="lpiwrittenoffId" class="form-control" ng-model="mapAccExtraForm.lpiwrittenoff" ng-change="changeExpenseOptions();" ng-options="expenseAccount.id as expenseAccount.name for expenseAccount in lpiexpenseAccountOptions" value="{{expenseAccount.id}}">
                <option class="displaynone" value="">-- Select -- </option>
              </select>
            </div>
          </div>
          <hr/>
          <div class="form-group" ng-hide='true'>
            <h4>Liabilities</h4>
            <label class="control-label col-sm-2">Over payment liability</label>            
            <div class="col-sm-3">
              <select id="overpaymentLiabilityAccountId" class="form-control" ng-model="mapAccountingForm.overpaymentLiabilityAccountId" chosen="liabilityAccountOptions" ng-options="liabilityAccount.id as liabilityAccount.name for liabilityAccount in liabilityAccountOptions"value="{{liabilityAccount.id}}">
                <option class="displaynone" value="0">-- Select -- </option>
              </select>
            </div>
          </div>
        </div>        
        <hr/>
        <div class="col-md-offset-5 paddedtop">
          <a id="cancel" href="#/loanProducts" class="btn btn-warning">Cancel</a>
          <button id="save" type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>