<div ng-controller="LoansFormCreateCtrl">
  <div ng-include src="'/views/alert.html'"></div>
  <form name="loanFormCreate" ng-hide="isLoading" class="form-horizontal" ng-submit="saveLoan()" novalidate show-validation>
    <div class="clearfix">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label col-md-5">Loan Product<span class="required"> *</span></label>
          <div class="validate col-md-6">
            <select class="form-control" required ng-model="loan.productId" ng-disabled="loanId">
              <option ng-repeat="product in loanProducts" value="{{product.id}}" ng-selected="{{loan.productId == product.id}}">{{product.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <hr />

    <div class="col-md-6" ng-show="showDetails">
      <div class="form-group">
        <label class="control-label col-md-5">Loan Officer<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <select class="form-control" required ng-model="loan.loanOfficerId">
            <option ng-repeat="officer in data.loanOfficerOptions" value="{{officer.id}}" ng-selected="officer.id == loan.loanOfficerId">{{officer.displayName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Principal<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.principal" required />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Number of Repayments<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.numberOfRepayments" required />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Interest Rate<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.interestRatePerPeriod" required />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Interest Method<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <select class="form-control" required ng-model="loan.interestType">
            <option ng-repeat="interestType in data.interestTypeOptions" value="{{interestType.id}}" ng-selected="{{loan.interestType == interestType.id}}">{{interestType.value}}</option>
          </select>
        </div>
      </div>
      <!--      <div class="form-group">
              <label class="control-label col-md-5">Interest Rate Frequency<span class="required"> *</span></label>
              <div class="validate col-md-6">
                <select class="form-control" required ng-model="loan.interestRateFrequencyType">
                  <option ng-repeat="interestRateFrequencyType in data.interestRateFrequencyTypeOptions" value="{{interestRateFrequencyType.id}}">{{interestRateFrequencyType.value}}</option>
                </select>
              </div>
            </div>-->
      <div class="form-group">
        <label class="control-label col-md-5">Interest Calculation Period<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <select class="form-control" required ng-model="loan.interestCalculationPeriodType">
            <option ng-repeat="interestCalculationPeriodType in data.interestCalculationPeriodTypeOptions" value="{{interestCalculationPeriodType.id}}" ng-selected="{{loan.interestCalculationPeriodType == interestCalculationPeriodType.id}}">{{interestCalculationPeriodType.value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5" for="loanPurpose">Loan Purpose<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <textarea id="loanPurpose" name="loanPurpose" class="form-control" ng-model="loanDetails.loanPurpose" required ></textarea>
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-show="showDetails">
      <div class="form-group">
        <label class="control-label col-md-5">Submitted on<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <input id="date_of_birth" name="date_of_birth" class="form-control" type="text" ng-model="loan.submittedOnDate" datepicker-popup="dd/MM/yyyy" is-open="datepicker.submittedOnDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'submittedOnDate')" readonly="true" />
          <!--<input id="principal" name="principal" class="form-control" type="text" ng-model="loan.principal" required />-->
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Expected Disbursement</label>
        <div class="validate col-md-6">
          <input name="expectedDisbursementDate" class="form-control" type="text" ng-model="loan.expectedDisbursementDate" datepicker-popup="dd/MM/yyyy" is-open="datepicker.expectedDisbursementDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'expectedDisbursementDate')" readonly="true" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Loan Term<span class="required"> *</span></label>
        <div class="validate col-md-3">
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.loanTermFrequency" required />
        </div>
        <div class="validate col-md-3">
          <select class="form-control" required ng-model="loan.loanTermFrequencyType">
            <option ng-repeat="termFrequencyType in data.termFrequencyTypeOptions" value="{{termFrequencyType.id}}" ng-selected="{{loan.loanTermFrequencyType == termFrequencyType.id}}">{{termFrequencyType.value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Repaid Every<span class="required"> *</span></label>
        <div class="validate col-md-3">
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.repaymentEvery" required />
        </div>
        <div class="validate col-md-3">
          <select class="form-control" required ng-model="loan.repaymentFrequencyType">
            <option ng-repeat="repaymentFrequencyType in data.repaymentFrequencyTypeOptions" value="{{repaymentFrequencyType.id}}" ng-selected="{{loan.repaymentFrequencyType == repaymentFrequencyType.id}}">{{repaymentFrequencyType.value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Amortization<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <select class="form-control" required ng-model="loan.amortizationType">
            <option ng-repeat="amortizationType in data.amortizationTypeOptions" value="{{amortizationType.id}}" ng-selected="{{loan.amortizationType == amortizationType.id}}">{{amortizationType.value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-5">Transaction Strategy<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <select class="form-control" required ng-model="loan.transactionProcessingStrategyId">
            <option ng-repeat="transactionProcessingStrategy in data.transactionProcessingStrategyOptions" value="{{transactionProcessingStrategy.id}}" ng-selected="{{loan.transactionProcessingStrategyId == transactionProcessingStrategy.id}}">{{transactionProcessingStrategy.name}}</option>
          </select>
        </div>
      </div>
<!--      <div class="form-group">
        <label class="control-label col-md-5">Expected Disbursement Date<span class="required"> *</span></label>
        <div class="validate col-md-6">
          <input id="date_of_birth" name="date_of_birth" class="form-control" type="text" ng-model="loan.expectedDisbursementDate" datepicker-popup="dd/MM/yyyy" is-open="datepicker.expectedDisbursementDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'expectedDisbursementDate')" readonly="true" />
          <input id="principal" name="principal" class="form-control" type="text" ng-model="loan.principal" required />
        </div>
      </div>-->
    </div>
  </form>

  <div class="col-md-12" ng-show="showDetails">
    <hr />
    <div class="col-md-offset-5 paddedtop">
      <!--<a id="cancel" href="#/editclientidentification/{{id}}" class="btn btn-warning">Back</a>-->
      <button id="save-btn" class="btn btn-primary" ng-click="saveLoan()" ng-show="hasAnyPermission(['CREATE_LOAN', 'UPDATE_LOAN'])">Next</button>
    </div>
  </div>
</div>