<div ng-include="'views/common/header.html'"></div>
  <div class="container post-login"> 
    <div ng-include src="'/views/alert.html'"></div>
    <div class="page-header">
    <div class="header">
      <h3>Journal Entries : {{id}}</h3>
      <div class="action"></div>
    </div>
    </div>    
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="6">
            <div class="form-group">
              <label class="control-label col-md-2">Description</label>
              <div class="col-md-3">
                  <textarea rows="2" class="form-control" ng-model="loanProductDetails.description"></textarea>
              </div>
              <div class="col-md-1"></div>
              <label class="control-label col-md-2">Currency<span class="required">*</span></label>              
              <div class="col-md-3">                  
                  <select id="currencyCode" ng-model="loanProductDetails.currencyCode" class="form-control"
                    ng-options="currency.code as currency.name for currency in product.currencyOptions"
                    value="{{currency.code}}">
                    </select>
              </div>
            </div>
              <div class="filters" >
                <div style="float:right;">            
                  <ul role="tablist">
                    <li role="presentation">
                    <div class="action">                      
                      <a href="#/createloanproduct" class="btn primary" >
                          Create Journal Entries
                      </a>
                    </div>
                    </li>
                 </ul> 
                </div>
                <div class="search" style="float:right;">
                    <input type="text" st-search="" class="search-box" placeholder="Search Journal Entries" />
                </div>
             </div>  
          </th>
        </tr>
      <tr>
        <th st-sort="id">Entry ID</th>
        <th st-sort="comments">Type</th>
        <th st-sort="transactionDate">Account</th>        
        <th st-sort="officeName" class="number">Debit</th>
        <th st-sort="officeName" class="number">Credit</th>        
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr st-select-row="row" st-select-mode="single" ng-repeat="journal in displayed" class="pointer">
          <td ng-click="viewDetail(journal)">{{journal.id}}</td>
          <td ng-click="viewDetail(journal)">{{journal.glAccountType.value}}</td>
          <td ng-click="viewDetail(journal)">{{journal.glAccountName}}</td>          
          <td ng-click="viewDetail(journal)" class="number">
            <div ng-show="journal.entryType.value == 'DEBIT'">
              {{journal.amount}}
            </div>
          </td>
          <td ng-click="viewDetail(journal)" class="number">
            <div ng-show="journal.entryType.value == 'CREDIT'">
              {{journal.amount}}
            </div>
          </td>
          <!-- <td class="actions"><a ng-click="removeJournal(journal)"><i class="glyphicon glyphicon-remove-circle"></i></a></td> -->
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="6">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport()" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a></strong>
              </div>
              <div class="paginate">
                <div st-pagination="" class="pagination pointer" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>