<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">
    <span class="glyphicon glyphicon-check"></span> Move to Profit
  </h4>
</div>
<div class="modal-body">
  <label>Select affected GL Account (credit)</label>
  <select ng-model="formData.creditAccount" chosen="glAccounts" class="form-control" ng-options="(creditAccount.name +   ' - ' +   creditAccount.currencyCode +  ' (' +   creditAccount.glCode +   ')') for creditAccount in glAccounts" required>
    <option class="displaynone" value="">-- Select --</option>
  </select>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="saveInProgress">Save</button>
  <button type="button" class="btn btn-primary" ng-click="cancel()" ng-disabled="saveInProgress">Cancel</button>
</div>


