<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login">
    <div ng-include src="'/views/alert.html'"></div>
    <div class="rows">
        <div class="page-header">
            <div class="header">
                <h3>Financial Years {{selectedYear}} <span class="glyphicon glyphicon-lock text-danger" ng-show="form.closed"></span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="fyForm" ng-hide="loading" class="form-horizontal" ng-submit="validateFy()" novalidate show-validation>
                    <div class="form-group">
                        <label class="control-label col-md-4">Financial Year <span class="required">*</span></label>
                        <div class="validate col-md-6">
                            <select ng-model="form.startYear" class="form-control" ng-options="year.startYear as (year.startYear + '/' + year.endYear) for year in years" ng-disabled="!form.current && form.id">
                                <option value="">--Select Year--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Start Date <span class="required">*</span></label>
                        <div class="validate col-md-6">
                            <input name="startDate" class="form-control" type="text" ng-model="form.startDate" datepicker-popup="dd/MM/yyyy" is-open="calendar.startDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'startDate')" readonly="true" required ng-disabled="!form.current && form.id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">End Date <span class="required">*</span></label>
                        <div class="validate col-md-6">
                            <input name="endDate" class="form-control" type="text" ng-model="form.endDate" datepicker-popup="dd/MM/yyyy" is-open="calendar.endDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" ng-click="open($event, 'endDate')" readonly="true" required ng-disabled="!form.current && form.id" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Is Current <span class="required">*</span></label>
                        <div class="col-md-6">
                            <button type="button" class="btn" ng-class="{'btn-success': form.current, 'btn-default': !form.current}" ng-click="form.current=!form.current"><span class="glyphicon" ng-class="{'glyphicon-ok': form.current, 'glyphicon-minus': !form.current}"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <div class="btn-group">
                                <button id="save" type="submit" class="btn btn-primary" ng-show="hasAnyPermission(['CREATE_FINANCIALYEAR', 'UPDATE_FINANCIALYEAR']) && (!form.closed || !form.id)">Save</button>
                                <button id="cancel" type="button" class="btn btn-warning" ng-click="clearFy()">Clear</button>
                                <button type="button" class="btn btn-danger" ng-hide="form.closed || !form.id || !hasPermission('CLOSE_FINANCIALYEAR')" ng-click="endYear()"><span class="glyphicon glyphicon-lock"></span> End Year</button>
                            </div>
                            <p class="alert alert-warning" ng-hide="form.closed || !form.id">
                                When you click this button, it will end the financial year and no more posting shall be allowed. Be sure that this is what you want to do.
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="list">
                    <table st-table="displayed" st-safe-src="financialYears" class="table">
                        <thead>
                        <tr>
                            <th st-sort="startYear">Financial Year</th>
                            <th st-sort="startDate">Start Date</th>
                            <th st-sort="endDate">End Date</th>
                            <th st-sort="current">Current</th>
                            <th st-sort="closed">Closed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="financialYear in displayed" ng-click="selectFinancialYear(financialYear)" class="pointer" ng-class="{'info': form.id==financialYear.id}">
                            <td>{{financialYear.startYear}}/{{financialYear.endYear}}</td>
                            <td>{{financialYear.startDate}}</td>
                            <td>{{financialYear.endDate}}</td>
                            <td><span class="glyphicon" ng-class="{'glyphicon-ok': financialYear.current, 'glyphicon-minus': !financialYear.current}"></span></td>
                            <td><span class="glyphicon" ng-class="{'glyphicon-lock': financialYear.closed, 'glyphicon-play-circle': !financialYear.closed}"></span></td>
                        </tr>
                        </tbody>
                        <tfoot ng-hide="loading">
                        <tr>
                            <td colspan="8">
                                <div class="table-footer">
                                    <div class="paginate">
                                        <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
