<div class="alert {{type}}" role="alert" ng-show="message">
    <button type="button" class="close" ng-click="message=null" ng-show="message"><span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span></button>
    {{message}}
    <ul>
      <li ng-repeat="error in errors">
        {{error.defaultUserMessage.length? error.defaultUserMessage : error.message}}
      </li>
    </ul>
</div>
<div class="alert error" role="alert" ng-show="!loginForm.$valid && loginForm.$submitted">
    <ul>
        <li ng-show="loginForm.username.$error.required">Username is required field !!!</li>
        <li ng-show="loginForm.username.$error.minlength">Username is too short </li>
        <li ng-show="loginForm.username.$error.maxlength">Username is too large </li>
        <li ng-show="loginForm.password.$error.required">Password is required field !!!</li>
        <li ng-show="loginForm.password.$error.minlength">Password is too short </li>
        <li ng-show="loginForm.password.$error.maxlength">Password is too large </li>
    </ul>
</div>
<!--
<p>{{loginForm}}</p>
<p>- {{loginForm.$valid}} -</p>
-->
