<div class="alert error" role="alert" data-ng-show="error">Oops, wrong username or password!</div>
<div class="alert error" data-ng-show="loginForm.invalidate">    
	<div ng-show="loginForm.username.$error.required"> Username is required field !!! </div>
    <div ng-show="loginForm.username.$error.minlength"> Username is too short </div>
    <div ng-show="loginForm.username.$error.maxlength"> Username is too large </div>
    <div ng-show="loginForm.password.$error.required"> Password is required field !!! </div>
    <div ng-show="loginForm.password.$error.minlength"> Password is too short </div>
    <div ng-show="loginForm.password.$error.maxlength"> Password is too large </div>
</div>
<div class="alert {{type}} alert-dismissible" role="alert" data-ng-if="message" ng-bind-html="message">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  {{message}}

  <ul>
    <li ng-repeat="error in errors">
      {{error.defaultUserMessage}}
    </li>    
  </ul>
</div>
