<div ng-include="'views/common/header.html'"></div>
<div class="container post-login">
  <div class="page-header">
    <div class="header">
      <h3>Clients</h3>
      <div class="action">
        <button class="btn primary">Create Client</button>
      </div>
    </div>
  </div>
  
  <div class="filters">
    <ul role="tablist">
      <li role="presentation"><a href="#" class="active">Clients</a></li>
      <li role="presentation"><a href="#">Loans</a></li>
      <li role="presentation"><a href="#">Loans Pending Approval</a></li>
      <li role="presentation"><a href="#">Loans Awaiting Disbursement</a></li>
      <li role="presentation"><a href="#">Loans Rejected</a></li>
      <li role="presentation"><a href="#">Loans Written-Off</a></li>
    </ul>

    <div class="search">
      <input type="text" class="search-box" placeholder="Search Clients">
    </div>
  </div>

  <div class="list">
    <table class="table">
      <col width="50"></col>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <col/>
      <thead>
        <tr>
          <th colspan="2">Client Details</th>
          <th>Client Status</th>
          <th>Loan Status</th>
          <th>Education</th>
          <th>Povert Level</th>
          <th>Loan Officer</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <img src="http://placehold.it/50x50"/>
          </td>
          <td>
              <div class="name">
                <a href="#">Stephen Sandoval</a>
              </div>
              <div class="meta activity">
                Retailer
              </div>
              <div class="meta">
                File No.: 6743
              </div>
          </td>
          <td>
            <span class="status active">
              ACTIVE
            </span>
          </td>
          <td>&nbsp;</td>
          <td>Bachelors</td>
          <td>500,000 - 1,000,000</td>
          <td>&nbsp;</td>
          <td>
            <button class="btn grid-button">Create Loan</button>
          </td>
        </tr>
        <tr>
          <td>
              <img src="http://placehold.it/50x50"/>
          </td>
          <td>
              <div class="name">
                <a href="#">Ryan Bradley</a>
              </div>
              <div class="meta activity">
                Retailer
              </div>
              <div class="meta">
                File No.: 6743
              </div>
          </td>
          <td>
            <span class="status active">
              ACTIVE
            </span>
          </td>
          <td>
            <span class="status bad">
              IN BAD STANDING
            </span>
          </td>
          <td>O Level</td>
          <td>500,000 - 1,000,000</td>
          <td>Peter Simpson</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>
              <img src="http://placehold.it/50x50"/>
          </td>
          <td>
              <div class="name">
                <a href="#">Ryan Bradley</a>
              </div>
              <div class="meta activity">
                Retailer
              </div>
              <div class="meta">
                File No.: 6743
              </div>
          </td>
          <td>
            <span class="status on-hold">
              ON HOLD
            </span>
          </td>
          <td>
            <span class="status closed">
              CLOSED
            </span>
          </td>
          <td>O Level</td>
          <td>500,000 - 1,000,000</td>
          <td>Peter Simpson</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>
              <img src="http://placehold.it/50x50"/>
          </td>
          <td>
              <div class="name">
                <a href="#">Ryan Bradley</a>
              </div>
              <div class="meta activity">
                Retailer
              </div>
              <div class="meta">
                File No.: 6743
              </div>
          </td>
          <td>
            <span class="status active">
              ACTIVE
            </span>
          </td>
          <td>
            <span class="status bad">
              IN BAD STANDING
            </span>
          </td>
          <td>O Level</td>
          <td>500,000 - 1,000,000</td>
          <td>Peter Simpson</td>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>
              <img src="http://placehold.it/50x50"/>
          </td>
          <td>
              <div class="name">
                <a href="#">Ryan Bradley</a>
              </div>
              <div class="meta activity">
                Retailer
              </div>
              <div class="meta">
                File No.: 6743
              </div>
          </td>
          <td>
            <span class="status active">
              ACTIVE
            </span>
          </td>
          <td>
            <span class="status bad">
              IN BAD STANDING
            </span>
          </td>
          <td>O Level</td>
          <td>500,000 - 1,000,000</td>
          <td>Peter Simpson</td>
          <td>&nbsp;</td>
        </tr>

      </tbody>
    </table>
  </div>

  
</div>
