<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login">
  
  <div class="shortcuts">
    <ul role="tablist">
      <li role="presentation" class="label">Shortcuts:</li>
      <li role="presentation" ng-show="hasPermission('CLIENT_UIDASHBOARD')"><a href="/#createClient">New Client</a></li>
      <li role="presentation" ng-show="hasPermission('LOAN_UIDASHBOARD')"><a href="#">New Loan</a></li>
      <li role="presentation" ng-show="hasPermission('REPAYMENT_UIDASHBOARD')"><a href="#">New Repayment</a></li>
      <li role="presentation" ng-show="hasPermission('NOTE_UIDASHBOARD')"><a href="#">New Note</a></li>
      <li role="presentation" ng-show="hasPermission('SURVEY_UIDASHBOARD')"><a href="#">New Survey</a></li>
      <li role="presentation" ng-show="hasPermission('UPLOAD_UIDASHBOARD')"><a href="#">Upload Documents</a></li>
    </ul>
  </div>

  <div class="summary">
    <dl class="horizontal">
      <dt ng-show="hasPermission('TAC_UIDASHBOARD')">{{totalActiveClient}}</dt>
      <dd ng-show="hasPermission('TAC_UIDASHBOARD')"><a href="/#clients/Active">Total Active Clients</a></dd>
      <dt ng-show="hasPermission('TB_UIDASHBOARD')">{{totalBorrowers}}</dt>
      <dd ng-show="hasPermission('TB_UIDASHBOARD')"><a href="#">Total Borrowers</a></dd>
      <dt ng-show="hasPermission('LIBS_UIDASHBOARD')">{{loansInBadStanding}}</dt>
      <dd ng-show="hasPermission('LIBS_UIDASHBOARD')"><a href="#">Loans in Bad Standing</a></dd>
      <dt ng-show="hasPermission('RDTW_UIDASHBOARD')">{{repaymentsDueThisWeek}}</dt>
      <dd ng-show="hasPermission('RDTW_UIDASHBOARD')"><a href="#">Repayments Due This Week</a></dd>
    </dl>
    <div class="clearfix"></div>
  </div>
  
  <div class="kpis">
    <div class="charts">
      <div class="portlet" ng-show="hasPermission('ABPLO_UIDASHBOARD')">
        <div class="heading">Active Borrowers per Loan Officer</div> 
        <div class="body">
          <div ng-show="isBorrowerReady" google-chart chart="borrowerPerLoanOfficer" style="{{borrowerPerLoanOfficer.cssStyle}}">
          </div>
          <div ng-hide="isBorrowerReady">
            Loading...
          </div>
        </div>
      </div>
    </div>
    <div class="charts">
      <div class="portlet" ng-show="hasPermission('PPLO_UIDASHBOARD')">
        <div class="heading">PAR per Loan Officer</div>         
        <div class="body">
          <div ng-hide="isParReady">
            Loading...
          </div>
          <div ng-show="isParReady" google-chart chart="PARPerLoanOfficer" style="{{PARPerLoanOfficer.cssStyle}}"></div>
        </div>
      </div>
    </div>
    <div class="charts">
      <div class="portlet" ng-show="hasPermission('CILPCM_UIDASHBOARD')">
        <div class="heading">Changes in Loan Portfolio current month</div> 
        <div class="body"><div google-chart chart="loanPortfolioCurrentMonth" style="{{loanPortfolioCurrentMonth.cssStyle}}"></div></div>
      </div>
    </div>
    <div class="charts">
      <div class="portlet" ng-show="hasPermission('DVCPW_UIDASHBOARD')">
        <div class="heading">Due vs. Collected previous week</div> 
        <div class="body">
          <div ng-hide="isDueReady">
              Loading...
          </div>
          <div ng-show="isDueReady" google-chart chart="dueVsCollectedLastWeek" style="{{dueVsCollectedLastWeek.cssStyle}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>
