<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="ClientsCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Loans Pending Approval</h3>
      <div class="action">
        <button class="btn primary">Create Client</button>
      </div>
    </div>
  </div>
  
  

  <div class="list">
    <table st-table="allClients" class="table">
      
      <thead>
        <tr>
          <th colspan=8>
              <div class="filters">
                 <ul role="tablist">
                  <li role="presentation"><a href="#/clients">Clients</a></li>
                  <li role="presentation"><a href="#/loans">Loans</a></li>
                  <li role="presentation"><a href="#/loansPendingApproval" class="active">Loans Pending Approval</a></li>
                  <li role="presentation"><a href="#/loansAwaitingDisbursement">Loans Awaiting Disbursement</a></li>
                  <li role="presentation"><a href="#/loansRejected">Loans Rejected</a></li>
                  <li role="presentation"><a href="#/loansWrittenOff">Loans Written-Off</a></li>
                </ul>

                <div class="search" >
                  <input type="text" st-search="" class="search-box" placeholder="Search Clients" />
                </div>
              </div>    
          </th>
        </tr>
        <tr>
          <th colspan="2" st-sort="name">Client Details</th>
          <th st-sort="status">Client Status</th>
          <th st-sort="loanStatus">Loan Status</th>
          <th st-sort="education">Education</th>
          <th st-sort="povertyLevel">Povert Level</th>
          <th st-sort="povertyLevel">Loan Officer</th>
          <th></th>
        </tr>
      </thead>
      <tbody>        
        <tr ng-repeat="client in allClients">
          <td><img src={{client.location}}/></td>
          <td>
              <div class="name">
                <a href="#">{{client.name}}</a>
              </div>
              <div class="meta activity">
                {{client.type}}
              </div>
              <div class="meta">
                File No.: {{client.fileNo}}
              </div>
          </td>
          <td>
            <span class="{{client.statusCode | status}}">
              {{client.status}}
            </span>
          </td>
          <td>
             <span class="{{client.loanStatusCode | status}}">
              {{client.loanStatus}}
            </span>
          </td>
          <td>{{client.education}}</td>
          <td>{{client.povertyLevel}}</td>
          <td>{{client.loanOfficer}}</td>
          <td>
            <button ng-if="client.loanStatusCode | checkEmptyString" class="btn grid-button">Create Loan</button>
          </td>
        </tr>
        <tfoot>
          <tr>
            <td colspan="8">
              <div class="table-footer">
                <div class="export">
                    <strong>Export: <a class="link pdf" >PDF</a><a class="link excel" >Excel</a>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </tbody>
    </table>
  </div>
</div>