<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="LoansCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Loans</h3>
      <div class="action">
        <button class="btn primary">Create Client</button>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">  
      <thead>
        <tr>
          <th colspan="6">
              <div class="filters">
                 <ul role="tablist">
                  <li role="presentation"><a href="#/clients">Clients</a></li>
                  <li role="presentation"><a href="#/loans" class="active">Loans</a></li>
                  <li role="presentation"><a href="#/loansPendingApproval">Loans Pending Approval</a></li>
                  <li role="presentation"><a href="#/loansAwaitingDisbursement">Loans Awaiting Disbursement</a></li>
                  <li role="presentation"><a href="#/loansRejected">Loans Rejected</a></li>
                  <li role="presentation"><a href="#/loansWrittenOff">Loans Written-Off</a></li>
                </ul>

                <div class="search" >
                  <input type="text" st-search="" class="search-box" placeholder="Search Loans" />
                </div>
              </div>    
          </th>
        </tr>
        <tr>
          <th colspan="2" st-sort="name">Client Details</th>          
          <th st-sort="loanStatus">Loan Status</th>
          <th st-sort="loanAmount">Loan Amount</th>
          <th st-sort="loanArrears">Amount in Arrears</th>
          <th st-sort="loanOfficer">Loan Officer</th>
        </tr>
      </thead>
      <tbody ng-hide="isLoading">     
        <tr ng-repeat="loan in displayed">
         <td><img src={{loan.location}}/></td>
          <td>
              <div class="name">
                <a href="#">{{loan.name}}</a>
              </div>
              <div class="meta activity">
                {{loan.type}}
              </div>
              <div class="meta">
                File No.: {{loan.file_no}}
              </div>
          </td>
          <td>
             <span class="{{loan.loanStatusCode | status}}">
              {{loan.loanStatus}}
            </span>
          </td>
          <td>{{loan.loanAmount}}</td>
          <td>{{loan.loanArrears}}</td>
          <td>{{loan.loanOfficer}}</td>   
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">        
          <tr>
            <td colspan="6">
              <div class="table-footer">
                <div class="export">
                    <strong>Export: <a class="link pdf" >PDF</a><a class="link excel" >Excel</a>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>