<div class="container">
  <div class="wrap">
    <div class="login-box">
      <img src="../images/logo-big.png" title="Finem(U) Ltd."/>
      <form name="loginForm" novalidate show-validation ng-submit="authenticate(loginDetails)">
        <legend>Please login to <strong>FINEM</strong> system</legend>
        <div ng-include src="'/views/alert.html'"></div>
        <div class="validate form-group">
          <input ng-focus="clearError()" type="text" class="form-control" placeholder="Username" ng-model="loginDetails.username"
                 name="username"
                 ng-minlength="5"
                 ng-maxlength="30" 
                 required />
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="validate form-group">
          <input ng-focus="clearError()" type="password" class="form-control" placeholder="Password"
                 autocorrect="off" autocapitalize="off" ng-model="loginDetails.password"
                 name="password"
                 ng-minlength="5"
                 ng-maxlength="30"
                 required />
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-block primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>