<div class="container post-login">
  <div class="page-header">
    <div class="header">
      <h3>Clients</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="8">
            <div class="shortcuts">
              <div class="search pull-right">
                <input type="text" ng-model="searchTerm" class="search-box" placeholder="Search Clients" ng-keypress="onSearch($event)" />
              </div>
              <div ng-include="'views/Client/header.menu.tpl.html'" onload="active='clients'"></div>
            </div>
          </th>
        </tr>
      <tr>
        <th colspan="2" st-sort="name">Client Details</th>
        <th st-sort="status">Client Status</th>
        <th st-sort="loanStatus">Loan Status</th>
        <th st-sort="mobileNo">Phone</th>
        <th st-sort="loanOfficer">Created by</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="client in displayed">
          <td><img class="Size" ng-src="{{client.image}}"></td>
          <td>
            <div class="name">
              <a ng-href="#clients/{{client.id}}">{{client.name}}</a>
            </div>
            <div class="meta activity">
              {{client.type}}
            </div>
            <div class="meta">
              File No.: {{client.file_no}}
            </div>
          </td>
          <td>
            <span class="{{client.statusCode| status}}">
              {{client.status}} {{client.statusCode == 600? '(' + client.closureStatus + ')' : ''}}
            </span>
          </td>
          <td>
            <a href="#/loans/{{client.id}}/details/{{client.loanId}}" class="{{client.loanStatusCode | status}}" ng-show="client.loanStatus=='ActiveInBadStanding' || client.loanStatus=='ActiveInGoodStanding' || client.loanStatus=='Written-Off' || client.loanStatus=='Closed' || client.loanStatus=='Overpaid'">
              {{client.loanStatus}}
            </a>
            <!--
            <span class="{{client.loanStatusCode| status}}" ng-show="(client.collaterals && client.guarantors) || client.loanStatus!='Submitted and awaiting approval'">
              {{client.loanStatus}}
            </span>
            'Invalid', 'Submitted and awaiting approval', 'Approved', 'Active', 'Withdrawn by client', 'Rejected', 'Closed', 'Written-Off', 'Rescheduled', 'Overpaid', 'ActiveInGoodStanding', 'ActiveInBadStanding'

            Loans with Statuses (Pending, Submitted but awaiting approval & Awaiting Disbursement,Withdrawn) when clicked, should take you to where you can edit the loan.
            WHEREAS...
            Loans with statuses (ActiveInGoodStanding,ActiveInBadStanding,Closed,WrittenOff) should take you to page where you view details of the loan e.g. page where you can make payments, reschedule,Prepay the loan.

            -->
            <a href="#/loans/view/{{client.loanId}}" class="{{client.loanStatusCode| status}}" ng-show="(!client.collaterals || !client.guarantors) && client.loanStatus=='Submitted and awaiting approval'">
              Pending
            </a>
            <a href="#/loans/view/{{client.loanId}}" class="{{client.loanStatusCode| status}}" ng-show="(client.collaterals && client.guarantors && client.loanStatus=='Submitted and awaiting approval') || client.loanStatus=='Withdrawn by client' || client.loanStatus=='Awaiting Disbursement'">
              {{client.loanStatus}}
            </a>
          </td>
          <td class="number phone">{{client.mobileNo}}</td>
          <td>{{client.loanOfficer}}</td>
          <td style="text-align: right;">
            <!--
            <button ng-if="client.statusCode == 600" class="btn grid-button" ng-click="activateClient(client)">Re-Activate</button>
            <button ng-if="client.statusCode == 300 || client.statusCode == 100 && ((client.loanStatusCode | checkEmptyString) || client.loanStatusCode == 500 || client.loanStatusCode == 600)" class="btn grid-button" ng-click="closeClient(client)">Close</button>
            <a ng-href="#/loans/{{client.id}}/form" ng-if="client.statusCode == 300 && (client.loanStatusCode != 100 && client.loanStatusCode != 200 && client.loanStatusCode != 300 && client.loanStatusCode != 800 && client.loanStatusCode != 900)" class="btn grid-button" ng-show="hasPermission('CREATE_LOAN')">Create Loan</a>
            <button class="btn grid-button" ng-click="createNote(client)">Notes</button>
            -->
            <a ng-href="#/loans/{{client.id}}/form" ng-if="client.statusCode == 300 && (client.loanStatusCode != 100 && client.loanStatusCode != 200 && client.loanStatusCode != 300 && client.loanStatusCode != 800 && client.loanStatusCode != 900)" class="btn grid-button" ng-show="hasPermission('CREATE_LOAN')">Create Loan</a>
            <button class="btn grid-button" ng-click="createNote(client)">Notes</button>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="8" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="8">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('0,7')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('0,7')" target="_blank">Excel</a></strong>
              </div>
              <nav class="navbar navbar-default pagination">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Size {{pageSize}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="" ng-click="setPageSize(10)">10</a></li>
                      <li><a href="" ng-click="setPageSize(25)">25</a></li>
                      <li><a href="" ng-click="setPageSize(50)">50</a></li>
                      <li><a href="" ng-click="setPageSize(100)">100</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goFirst()">
                      <i class="glyphicon glyphicon-fast-backward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goPrevious()">
                      <i class="glyphicon glyphicon-backward"></i>
                    </a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Page {{currentPage}} of {{pages.length}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" style="max-height: 150px; overflow-y: scroll;">
                      <li ng-repeat="page in pages"><a href="" ng-click="goTo(page.page)">{{page.page}}</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goNext()">
                      <i class="glyphicon glyphicon-forward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goLast()">
                      <i class="glyphicon glyphicon-fast-forward"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>