<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login">
  <div class="page-header">
    <div class="header">
      <h3>Clients</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="8">
            <div class="shortcuts">
              <div class="search pull-right">
                <input type="text" st-search="" class="search-box" placeholder="Search Clients" />
              </div>
              <div ng-include="'views/Client/header.menu.tpl.html'" onload="active='clients'"></div>
            </div>
          </th>
        </tr>
      <tr>
        <th colspan="2" st-sort="name">Client Details</th>
        <th st-sort="status">Client Status</th>
        <th st-sort="loanStatus">Loan Status</th>
        <th st-sort="education">Education</th>
        <th st-sort="povertyLevel" class="number">Poverty Level</th>
        <th st-sort="loanOfficer">Loan Officer</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="client in displayed">
          <td><img class="Size" ng-src="{{client.image}}"></td>
          <td>
            <div class="name">
              <a ng-href="#editbasicclientinfo/{{client.id}}">{{client.name}}</a>
            </div>
            <div class="meta activity">
              {{client.type}}
            </div>
            <div class="meta">
              File No.: {{client.file_no}}
            </div>
          </td>
          <td>
            <span class="{{client.statusCode| status}}">
              {{client.status}} {{client.statusCode == 600? '(' + client.closureStatus + ')' : ''}}
            </span>
          </td>
          <td>
            <span class="{{client.loanStatusCode| status}}" ng-show="(client.collaterals && client.guarantors) || client.loanStatus!='Submitted and awaiting approval'">
              {{client.loanStatus}}
            </span>
            <span class="{{client.loanStatusCode| status}}" ng-show="(!client.collaterals || !client.guarantors) && client.loanStatus=='Submitted and awaiting approval'">
              Pending
            </span>
          </td>
          <td>{{client.education}}</td>
          <td class="number">{{client.povertyLevel}}</td>
          <td>{{client.loanOfficer}}</td>
          <td style="text-align: right">
            <button ng-if="client.statusCode == 600" class="btn grid-button" ng-click="activateClient(client)">Re-Activate</button>
            <button ng-if="client.statusCode == 300 && ((client.loanStatusCode | checkEmptyString) || client.loanStatusCode == 500)" class="btn grid-button" ng-click="closeClient(client)">Close</button>
            <a ng-href="#/loans/{{client.id}}/form" ng-if="client.statusCode == 300 && (client.loanStatusCode != 100 && client.loanStatusCode != 200 && client.loanStatusCode != 300 && client.loanStatusCode != 800 && client.loanStatusCode != 900)" class="btn grid-button" ng-show="hasPermission('CREATE_LOAN')">Create Loan</a>
            <button class="btn grid-button" ng-click="createNote(client)">Notes</button>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="8" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="8">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('0,7')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('0,7')" target="_blank">Excel</a></strong>
              </div>
              <div class="paginate">
                <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>