<div class="container post-login" ng-controller="LoansRejectedCtrl" ng-keypress="onKeyboard($event)" tabindex="-1000">
  <div class="page-header">
    <div class="header">
      <h3>Loans Rejected</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="4">
            <div class="shortcuts">
              <div class="search pull-right">
                <input type="text" ng-model="searchTerm" class="search-box" placeholder="Search Rejected Loans" ng-keypress="onSearch($event)" />
              </div>
              <div ng-include="'views/Client/header.menu.tpl.html'" onload="active='loansRejected'"></div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="name">Client Details</th>
          <th st-sort="loanAmount" class="number">Loan Amount</th>
          <th st-sort="loanOfficer">Loan Officer</th>
          <th st-sort="rejectedReason">Reason for Rejection</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="loansRejected in displayed">
           <td>
              <div class="name">
                  <span>{{loansRejected.name}}</span>
              </div>
              <div class="meta">
                File No.: {{loansRejected.file_no}}
              </div>
          </td>
          <td class="number">{{loansRejected.loanAmount}}</td>
          <td>{{loansRejected.loanOfficer}}</td>
          <td>{{loansRejected.rejectedReason}}</td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="4" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
       <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="4">
              <div class="table-footer">
               <div class="export">
                 <strong>Export: <a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a></strong>
                </div>
                  <nav class="navbar navbar-default pagination">
                      <ul class="nav navbar-nav">
                        <li class="dropdown" uib-dropdown>
                              <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Size {{pageSize===10000 ? 'All' : pageSize}} <span class="caret"></span></a>
                              <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                                  <li><a href="" ng-click="setPageSize(10)">10</a></li>
                                  <li><a href="" ng-click="setPageSize(25)">25</a></li>
                                  <li><a href="" ng-click="setPageSize(50)">50</a></li>
                                  <li><a href="" ng-click="setPageSize(100)">100</a></li>
                                  <li><a href="" ng-click="setPageSize(10000)">All</a></li>
                              </ul>
                          </li>
                          <li ng-show="currentPage>1">
                              <a href="" ng-click="goFirst()">
                                  <i class="glyphicon glyphicon-fast-backward"></i>
                              </a>
                          </li>
                          <li ng-show="currentPage>1">
                              <a href="" ng-click="goPrevious()">
                                  <i class="glyphicon glyphicon-backward"></i>
                              </a>
                          </li>
                          <li class="dropdown" uib-dropdown>
                              <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Page {{currentPage}} of {{pages.length}} <span class="caret"></span></a>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" style="max-height: 150px; overflow-y: scroll;">
                                  <li ng-repeat="page in pages"><a href="" ng-click="goTo(page.page)">{{page.page}}</a></li>
                              </ul>
                          </li>
                          <li ng-show="currentPage<pages.length">
                              <a href="" ng-click="goNext()">
                                  <i class="glyphicon glyphicon-forward"></i>
                              </a>
                          </li>
                          <li ng-show="currentPage<pages.length">
                              <a href="" ng-click="goLast()">
                                  <i class="glyphicon glyphicon-fast-forward"></i>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>