<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="LoansCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Active Loans</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="6">
      <div class="shortcuts">
        <div class="search pull-right" >
          <input type="text" st-search="" class="search-box" placeholder="Search Loans" />
        </div>
        <div ng-include="'views/Client/header.menu.html'" onload="active = 'loans'"></div>
      </div>
      </th>
      </tr>
      <tr>
        <th colspan="2" st-sort="name">Client Details</th>
        <th st-sort="loanStatus">Loan Status</th>
        <th st-sort="loanAmount" class="number">Loan Amount</th>
        <th st-sort="loanArrears" class="number">Amount in Arrears</th>
        <th st-sort="loanOfficer">Loan Officer</th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="loan in displayed" class="pointer">
          <td><img ng-src="{{loan.image}}" class="Size"></td>
          <td ng-click="showLoanDetails(loan)">
            <div class="name">
              <a ng-href="#editbasicclientinfo/{{loan.clientId}}">{{loan.name}}</a>
            </div>
            <div class="meta activity">
              {{loan.type}}
            </div>
            <div class="meta">
              File No.: {{loan.file_no}}
            </div>
          </td>
          <td ng-click="showLoanDetails(loan)">
            <span class="{{loan.loanStatusCode| status}}">
              {{loan.loanStatus}}
            </span>
          </td>
          <td ng-click="showLoanDetails(loan)" class="number">{{loan.loanAmount}}</td>
          <td ng-click="showLoanDetails(loan)" class="number">{{loan.loanArrears}}</td>
          <td ng-click="showLoanDetails(loan)">{{loan.loanOfficer}}</td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="6">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('0')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('0')" target="_blank">Excel</a></strong>
              </div>
              <div class="paginate">
                <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>