<div ng-include="'views/common/header.tpl.html'"></div>
<div class="container post-login" ng-controller="LoansPendingApprovalsCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Loans Pending Approval</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="7">
      <div class="shortcuts">
        <div class="search pull-right">
          <input type="text" st-search="" class="search-box" placeholder="Search Loans Pending Approval" />
        </div>
        <div ng-include="'views/Client/header.menu.tpl.html'" onload="active = 'loansPendingApproval'"></div>
      </div>
      </th>
      </tr>
      <tr>
        <th st-sort="name">Client Details</th>
        <th st-sort="loanAmount" class="number">Loan Amount</th>
        <th st-sort="installments" class="number"># of Installments</th>
        <th st-sort="interestRate" class="number">Interest Rate</th>
        <th st-sort="submittedon_date">Submitted on</th>
        <th st-sort="loanOfficer">Loan Officer</th>
        <th width="1%"></th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="loanPendingApproval in displayed" class="pointer">
          <td ng-click="editLoan(loanPendingApproval)">
            <div class="name">
              <a ng-href="#editbasicclientinfo/{{loanPendingApproval.clientId}}">{{loanPendingApproval.name}}</a>
            </div>
            <div class="meta">
              File No.: {{loanPendingApproval.file_no}}
            </div>
          </td>
          <td ng-click="editLoan(loanPendingApproval)" class="number">{{loanPendingApproval.loanAmount}}</td>
          <td ng-click="editLoan(loanPendingApproval)" class="number">{{loanPendingApproval.installments}}</td>
          <td ng-click="editLoan(loanPendingApproval)" class="number">{{loanPendingApproval.interestRate}}</td>
          <td ng-click="editLoan(loanPendingApproval)">{{loanPendingApproval.submittedon_date}}</td>
          <td ng-click="editLoan(loanPendingApproval)">{{loanPendingApproval.loanOfficer}}</td>
          <td class="actions">
            <button class="btn grid-button" ng-click="openActionDialog(loanPendingApproval)" ng-show="hasAnyPermission(['APPROVE_LOAN', 'REJECT_LOAN'])">Action</button>
            <a href="javascript:void(0);" ng-click="removeLoan(loanPendingApproval)" class="btn" ng-show="hasPermission('DELETE_LOAN')"><i class="glyphicon glyphicon-remove-circle"></i></a>
          </td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="7" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="7">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('6')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('6')" target="_blank">Excel</a></strong>
              </div>
              <div class="paginate">
                <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
              </div>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>