<div class="container post-login" ng-controller="LoansAwaitingDisbursementCtrl" ng-keypress="onKeyboard($event)">
  <div class="page-header">
    <div class="header">
      <h3>Loans Awaiting Disbursement</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <div ng-include src="'/views/alert.html'"></div>
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="7">
      <div class="shortcuts">
        <div class="search pull-right" >
          <input type="text" ng-model="searchTerm" class="search-box" placeholder="Search Loans Awaiting Disbursement" ng-keypress="onSearch($event)" />
        </div>
        <div ng-include="'views/Client/header.menu.tpl.html'" onload="active = 'loansAwaitingDisbursement'"></div>
      </div>
      </th>
      </tr>
      <tr>
        <th st-sort="name">Client Details</th>
        <th st-sort="loanAmount" class="number">Loan Amount</th>
        <th st-sort="approvedon_date">Approved on</th>
        <th st-sort="submitted_by">Submitted By</th>
        <th st-sort="approved_by">Approved By</th>
        <th st-sort="loanOfficer">Loan Officer</th>
        <th></th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="loansAwaitingDisbursement in displayed" class="pointer">
          <td ng-click="editLoan(loansAwaitingDisbursement)">
            <div class="name">
              <span>{{loansAwaitingDisbursement.name}}</span>
            </div>
            <div class="meta">
              File No.: {{loansAwaitingDisbursement.file_no}}
            </div>
          </td>
          <td ng-click="editLoan(loansAwaitingDisbursement)" class="number">{{loansAwaitingDisbursement.loanAmount}}</td>
          <td ng-click="editLoan(loansAwaitingDisbursement)">{{loansAwaitingDisbursement.approvedon_date}}</td>
          <td ng-click="editLoan(loansAwaitingDisbursement)">{{loansAwaitingDisbursement.submitted_by}}</td>
          <td ng-click="editLoan(loansAwaitingDisbursement)">{{loansAwaitingDisbursement.approved_by}}</td>
          <td ng-click="editLoan(loansAwaitingDisbursement)">{{loansAwaitingDisbursement.loanOfficer}}</td>
          <td class="actions">
            <button class="btn grid-button" ng-click="openActionDialog(loansAwaitingDisbursement)" ng-show="hasAnyPermission(['DISBURSE_LOAN', 'APPROVALUNDO_LOAN'])">Action</button>
            <!--
            <a href="javascript:void(0);" ng-click="removeLoan(loansAwaitingDisbursement)" class="btn" ng-show="hasPermission('DELETE_LOAN')"><i class="glyphicon glyphicon-remove-circle"></i></a>
            --->
          </td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="7" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="6">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('0')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('0')" target="_blank">Excel</a></strong>
              </div>
              <!--
              <div class="paginate">
                <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages" st-template="views/common/pagination.tpl.html"></div>
              </div>
              -->
              <nav class="navbar navbar-default pagination">
                <ul class="nav navbar-nav">
                  <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Size {{pageSize===10000 ? 'All' : pageSize}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                      <li><a href="" ng-click="setPageSize(10)">10</a></li>
                      <li><a href="" ng-click="setPageSize(25)">25</a></li>
                      <li><a href="" ng-click="setPageSize(50)">50</a></li>
                      <li><a href="" ng-click="setPageSize(100)">100</a></li>
                      <li><a href="" ng-click="setPageSize(10000)">All</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goFirst()">
                      <i class="glyphicon glyphicon-fast-backward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goPrevious()">
                      <i class="glyphicon glyphicon-backward"></i>
                    </a>
                  </li>
                  <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Page {{currentPage}} of {{pages.length}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu style="max-height: 150px; overflow-y: scroll;">
                      <li ng-repeat="page in pages"><a href="" ng-click="goTo(page.page)">{{page.page}}</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goNext()">
                      <i class="glyphicon glyphicon-forward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goLast()">
                      <i class="glyphicon glyphicon-fast-forward"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>