<div ng-include="'views/common/header.html'"></div>
<div class="container post-login" ng-controller="LoansWrittenOffCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Loans Written-Off</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="6">
            <div class="shortcuts">
              <div class="search pull-right" >
                <input type="text" st-search="" class="search-box" placeholder="Search Loans Written-Off" />
              </div>
              <div ng-include="'views/Client/header.menu.html'" onload="active='loansWrittenOff'"></div>
            </div>
          </th>
        </tr>
        <tr>
          <th st-sort="name">Client Details</th>
          <th st-sort="loanAmount" class="number">Loan Amount</th>
          <th st-sort="balanceWritten" class="number">Balance Written Off</th>
          <th st-sort="writtenoffon_date">Date of Write-Off</th>
          <th st-sort="loanOfficer">Loan Officer</th>
          <th st-sort="writtenoff_reason">Reason for Write-off</th>
        </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="loansWrittenOff in displayed">
           <td>
              <div class="name">
                  <a ng-href="#editbasicclientinfo/{{loansWrittenOff.id}}" ng-show="hasAnyPermission(['READ_CLIENT', 'UPDATE_CLIENT'])">{{loansWrittenOff.name}}</a>
                  <span ng-hide="hasAnyPermission(['READ_CLIENT', 'UPDATE_CLIENT'])">{{loansWrittenOff.name}}</span>
              </div>
              <div class="meta">
                File No.: {{loansWrittenOff.file_no}}
              </div>
          </td>
          <td class="number">{{loansWrittenOff.loanAmount}}</td>
          <td class="number">{{loansWrittenOff.balanceWritten}}</td>
          <td>{{loansWrittenOff.writtenoffon_date}}</td>
          <td>{{loansWrittenOff.loanOfficer}}</td>
          <td>{{loansWrittenOff.writtenoff_reason}}</td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="6">
              <div class="table-footer">
                <div class="export">
                    <strong>Export: <a href="" class="link pdf" ng-click="pdfExport()" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>