<div class="container post-login" ng-controller="LoansClosedCtrl" ng-keypress="onKeyboard($event)">
  <div class="page-header">
    <div class="header">
      <h3>Active Loans</h3>
      <div class="action" ng-show="hasPermission('CREATE_CLIENT')">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="6">
      <div class="shortcuts">
        <div class="search pull-right" >
          <input type="text" ng-model="searchTerm" class="search-box" placeholder="Search Closed Loans" ng-keypress="onSearch($event)" />
        </div>
        <div ng-include="'views/Client/header.menu.tpl.html'" onload="active = 'closed'"></div>
      </div>
      </th>
      </tr>
      <tr>
        <th colspan="2" st-sort="name">Client Details</th>
        <th st-sort="loanStatus">Loan Status</th>
        <th st-sort="loanAmount" class="number">Loan Amount</th>
        <th st-sort="loanArrears" class="date">Date Closed</th>
        <th st-sort="loanOfficer">Loan Officer</th>
      </tr>
      </thead>
      <tbody ng-hide="isLoading">
        <tr ng-repeat="loan in displayed" class="pointer">
          <td><img ng-src="{{loan.image}}" class="Size"></td>
          <td ng-click="showLoanDetails(loan)">
            <div class="name">
                <span>{{loan.name}}</span>
            </div>
            <div class="meta activity">
              {{loan.type}}
            </div>
            <div class="meta">
              File No.: {{loan.file_no}}
            </div>
          </td>
          <td ng-click="showLoanDetails(loan)">
            <span class="{{loan.loanStatusCode| status}}">
              {{loan.loanStatus}}
            </span>
          </td>
          <td ng-click="showLoanDetails(loan)" class="number">{{loan.loanAmount}}</td>
          <td ng-click="showLoanDetails(loan)" class="date">{{loan.closed_date}}</td>
          <td ng-click="showLoanDetails(loan)">{{loan.loanOfficer}}</td>
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="6" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
      <tfoot ng-hide="isLoading">
        <tr>
          <td colspan="6">
            <div class="table-footer">
              <div class="export">
                <strong>Export: <a href="" class="link pdf" ng-click="pdfExport('0')" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport('0')" target="_blank">Excel</a></strong>
              </div>
              <nav class="navbar navbar-default pagination">
                <ul class="nav navbar-nav">
                  <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Size {{pageSize===10000 ? 'All' : pageSize}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
                      <li><a href="" ng-click="setPageSize(10)">10</a></li>
                      <li><a href="" ng-click="setPageSize(25)">25</a></li>
                      <li><a href="" ng-click="setPageSize(50)">50</a></li>
                      <li><a href="" ng-click="setPageSize(100)">100</a></li>
                      <li><a href="" ng-click="setPageSize(10000)">All</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goFirst()">
                      <i class="glyphicon glyphicon-fast-backward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage>1">
                    <a href="" ng-click="goPrevious()">
                      <i class="glyphicon glyphicon-backward"></i>
                    </a>
                  </li>
                  <li class="dropdown" uib-dropdown>
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle data-toggle="dropdown" role="button" aria-expanded="false">Page {{currentPage}} of {{pages.length}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" uib-dropdown-menu style="max-height: 150px; overflow-y: scroll;">
                      <li ng-repeat="page in pages"><a href="" ng-click="goTo(page.page)">{{page.page}}</a></li>
                    </ul>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goNext()">
                      <i class="glyphicon glyphicon-forward"></i>
                    </a>
                  </li>
                  <li ng-show="currentPage<pages.length">
                    <a href="" ng-click="goLast()">
                      <i class="glyphicon glyphicon-fast-forward"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>