<div ng-include="'views/common/header.html'"></div> 
<div class="container post-login" ng-controller="LoansRejectedCtrl">
  <div class="page-header">
    <div class="header">
      <h3>Loans Rejected</h3>
      <div class="action">
        <a ng-href="/#createClient" class="btn primary">Create Client</a>
      </div>
    </div>
  </div>
  <div class="list">
    <table st-table="displayed" st-safe-src="rowCollection" class="table">
      <thead>
        <tr>
          <th colspan="4">
              <div class="filters">
                <div ng-include="'views/Client/header.menu.html'" onload="active='loansRejected'"></div>

                <div class="search" >
                  <input type="text" st-search="" class="search-box" placeholder="Search Loans Rejected" />
                </div>
              </div>    
          </th>
        </tr>
        <tr>
          <th st-sort="name">Client Details</th>
          <th st-sort="loanAmount" class="number">Loan Amount</th>          
          <th st-sort="loanOfficer">Loan Officer</th>          
          <th st-sort="rejectedReason">Reason for Rejection</th>
        </tr>
      </thead>
      <tbody>        
        <tr ng-repeat="loansRejected in displayed">
           <td>
              <div class="name">
                <a ng-href="#editbasicclientinfo/{{loansRejected.id}}">{{loansRejected.name}}</a>
              </div>              
              <div class="meta">
                File No.: {{loansRejected.file_no}}
              </div>
          </td>
          <td class="number">{{loansRejected.loanAmount}}</td>
          <td>{{loansRejected.loanOfficer}}</td>
          <td>{{loansRejected.rejectedReason}}</td>  
        </tr>
      </tbody>
      <tbody ng-show="isLoading">
        <tr>
          <td colspan="4" class="text-center">
            <div class="loading-indicator">Loading...</div>
          </td>
        </tr>
      </tbody>
       <tfoot ng-hide="isLoading">
          <tr>
            <td colspan="4">
              <div class="table-footer">
               <div class="export">
                    <strong>Export: <a href="" class="link pdf" ng-click="pdfExport()" target="_blank">PDF</a><a href="" class="link excel" ng-click="xlsExport()" target="_blank">Excel</a>
                </div>
                <div class="paginate">
                  <div st-pagination="" class="pagination" st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>