<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" 
            data-target="#main-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>Finem</span></a>
        <div class="visible-sm search-sm">
          <form role="search">
            <div class="form-group">
              <input type="text" class="search-box" placeholder="Search"/>
            </div>
          </form>
        </div>
      </div>
      <div class="main-nav nav-collapse" id="main-navbar-collapse">
         <ul class="nav navbar-nav">
           <li class="active"><a href="/#/dashboard" class="home">Home</a></li>
           <li><a href="/#/clients" class="clients">Clients</a></li>
           <li><a  class="reports">Reports</a></li>
           <li><a  class="accounting">Accounting</a></li>
           <li><a  href="/#/loanProducts" class="configuration">Configuration</a></li>
         </ul> 
         <ul class="nav navbar-nav navbar-right"> 
           <li class="hidden-sm">
            <form role="search">
              <div class="search">
                <input type="text" class="search-box" placeholder="Search"/>
              </div>
            </form>
           </li>
           <li>
             <a href="#" class="notifications">
               <span class="visible-sm">Notifications</span>
               <strong class="badge">15</strong>
             </a>
           </li>
           <li class="dropdown" >
             <a  class="user dropdown-toggle" data-toggle="dropdown"><span class="name">{{username}}</span><span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu">
                 <li><a >Change Password</a></li>
                 <li><a >Logout</a></li>
               </ul>
           </li>
         </ul> 
      </div>
    </div>
  </nav>  
