<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="mainMenuVisible">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#main-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Finem</span></a>
      <div class="visible-sm search-sm">
        <form role="search">
          <div class="form-group">
            <input type="text" class="search-box" placeholder="Search"/>
          </div>
        </form>
      </div>
    </div>
    <div class="main-nav nav-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': currentMenuPath=='home'}"><a href="/#/dashboard" class="home">Home</a></li>
        <li ng-class="{'active': currentMenuPath=='client'}" ng-show="hasPermission('READ_CLIENT')"><a href="/#/clients" class="clients">Clients</a></li>
        <li ng-class="{'active': currentMenuPath=='report'}" ng-show="hasAnyReportCategoryPermission(['Client', 'Loan', 'Account'])" class="dropdown">
          <a class="reports dropdown-toggle pointer" data-toggle="dropdown">Reports<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="hasAnyReportCategoryPermission(['Client', 'Loan', 'Account'])"><a href="/#/vreports/all"> All</a></li>
            <li ng-show="hasReportCategoryPermission('Client')"><a href="/#/vreports/clients"> Clients</a></li>
            <li ng-show="hasReportCategoryPermission('Loan')"><a href="/#/vreports/loans"> Loans</a></li>
            <li ng-show="hasReportCategoryPermission('Accounting')"><a href="/#/vreports/accounting"> Accounting</a></li>
            <li ng-show="hasReportCategoryPermission('Accounting')"><a href="/#/vreports/mis"> MIS</a></li>
            <!-- <li><a href="/#/vreports/xbrl"> XBRL</a></li> -->
          </ul>
        </li>
        <li ng-class="{'active': currentMenuPath=='accounting'}" class="dropdown">
          <a class="accounting dropdown-toggle pointer" data-toggle="dropdown" ng-show="hasAnyPermission(['READ_JOURNALENTRY', 'READ_GLACCOUNT'])">Accounting<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-show="hasPermission('READ_GLACCOUNT')"><a href="/#/accounting/chart">Chart of Accounts</a></li>
            <li ng-show="hasPermission('READ_JOURNALENTRY')"><a href="/#/journalentries">Journal Entries</a></li>
          </ul>
        </li>
        <!--
        <li>{{hasAnyPermission(['READ_LOANPRODUCT', 'READ_ROLE', 'READ_USER', 'READ_STAFF', 'READ_HOLIDAY', 'BULKREASSIGN_LOAN', 'READ_SCHEDULER', 'READ_REPORT', 'READ_AUDIT'])}}</li>
        <li>{{userPermissions()}}</li>
        <li>{{reportPermissions()}}</li>
        -->
        <li ng-class="{'active': currentMenuPath=='configuration'}" class="dropdown">
          <a class="configuration dropdown-toggle pointer" data-toggle="dropdown" ng-show="hasAnyPermission(['READ_UILOANPRODUCT', 'READ_ROLE', 'READ_USER', 'READ_STAFF', 'READ_HOLIDAY', 'BULKREASSIGN_LOAN', 'READ_SCHEDULER', 'READ_REPORT', 'READ_AUDIT'])">Configuration<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="" ng-mouseover="configMenu='credentials'" ng-class="{'active': configMenu=='credentials'}">Credentials</a>
              <ul class="nav nav-list collapse" ng-class="{'in': configMenu=='credentials'}" role="menu">
                <li ng-show="hasPermission('READ_STAFF')"><a href="/#/admin/staff" >Staff</a></li>
                <li ng-show="hasPermission('READ_USER')"><a href="/#/admin/users" >Users</a></li>
                <li ng-show="hasPermission('READ_ROLE')"><a href="/#/admin/roles" >Roles</a></li>
                <!--
                <li><a href="/#/admin/permissions">Permissions</a></li>
                -->
                <li ng-show="hasPermission('PASSWORD_USER')"><a href="/#/admin/passwords" >Reset Passwords</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-mouseover="configMenu='utilities'" ng-class="{'active': configMenu=='utilities'}">Utilities</a>
              <ul class="nav nav-list collapse" ng-class="{'in': configMenu=='utilities'}" role="menu">
                <li ng-show="hasPermission('READ_AUDIT')"><a href="/#/audit">Audit trail</a></li>
                <li ng-show="hasPermission('READ_UINOTIFICATION')"><a href="/#/notifications/sms">Notification log</a></li>
                <li ng-show="hasPermission('READ_SCHEDULER')"><a href="/#/jobs">Jobs Schedule</a></li>
                <li ng-show="hasPermission('READ_BACKUP')"><a href="">Backup/Restore</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-mouseover="configMenu='parameters'" ng-class="{'active': configMenu=='parameters'}">Parameters</a>
              <ul class="nav nav-list collapse" ng-class="{'in': configMenu=='parameters'}" role="menu">
                <li ng-show="hasPermission('CREATE_CODEVALUE')"><a href="/#/codes" >Codes</a></li>
                <li ng-show="hasPermission('READ_HOLIDAY')"><a href="/#/holidays" >Holidays</a></li>
                <li ng-show="hasPermission('READ_UIREPORT')"><a href="/#/reports" >Manage Reports</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-mouseover="configMenu='loans'" ng-class="{'active': configMenu=='loans'}">Loans / Products</a>
              <ul class="nav nav-list collapse" ng-class="{'in': configMenu=='loans'}" role="menu">
                <li ng-show="hasPermission('READ_UILOANPRODUCT')"><a href="/#/loanProducts">Products</a></li>
                <li ng-show="hasPermission('BULKREASSIGN_LOAN')"><a href="/#/loan_reassignment">Loan reassignment</a></li>
              </ul>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="" ng-mouseover="configMenu='accounts'" ng-class="{'active': configMenu=='accounts'}">Accounts / Finance</a>
              <ul class="nav nav-list collapse" ng-class="{'in': configMenu=='accounts'}" role="menu">
                <li ng-show="hasPermission('CREATE_FINANCIALYEAR')"><a href="/#/financialyears" >Financial Years</a></li>
                <li ng-show="hasPermission('UPDATE_CURRENCY')"><a href="/#/admin/currencies">Currencies</a></li>
                <li ng-show="hasPermission('CREATE_exchange_rate')"><a href="/#/admin/exchangerates">Exchange Rates</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden-sm">
          <form role="search" ng-controller="ClientSearchCtrl">
            <div class="search">
              <!--
              <input type="text" class="search-box" placeholder="Search"/>
              typeahead="item as item.title + ' (' + item.type + ')' for item in titles | filter:{title:$viewValue}"
              <input type="text" class="search-box" ng-model="selected" ng-hide="isLoading" typeahead-loading="isLoading" typeahead="client as client.name for client in clients | filter:$viewValue | limitTo:10" typeahead-template-url="views/Client/search.match.tpl.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-focus-first="true" placeholder="Search">
              -->
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-click="go()" ng-show="selectedClients.length>0">
                  <span class="glyphicon glyphicon-ok-circle text-primary"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="clear()" ng-show="selectedClients.length>0">
                  <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                </button>
              </div>
              <input type="text" class="search-box" ng-keypress="onKeypress($event)" ng-model="selected" ng-hide="isLoading" typeahead-loading="isLoading" typeahead="client as client.name for client in clients | filter: {name: $viewValue}" typeahead-template-url="views/Client/search.match.tpl.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-focus-first="false" placeholder="Search">
            </div>
          </form>
        </li>
        <!--
        <li class="dropdown" >
          <a class="dropdown-toggle pointer" data-toggle="dropdown" style="border-left: none; border-right: none;margin: 0;">Time<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">S: {{serverTime | amDateFormat:'DD.MM.YYYY, hh:mm:ss Z'}}</a></li>
            <li><a href="">L: {{localTime | amDateFormat:'DD.MM.YYYY, hh:mm:ss Z'}}</a></li>
          </ul>
        </li>
        -->
        <li>
          <a href="javascript: void(0);" class="notifications" ng-click="loans_info_show();
            $event.stopPropagation();" id="loans_info_button">
            <span class="visible-sm">Notifications</span>
            <strong class="badge">{{loans_total}}</strong>
          </a>
        </li>
        <li class="dropdown" >
          <a  class="user dropdown-toggle pointer" data-toggle="dropdown"><span class="name">{{username}}</span><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="javascript:void(0);" ng-click="change_pass()">Change Password</a></li>
            <li ng-controller="LoginCtrl"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="clearfix" id="loans_info_wrapper" style="display: none;" ng-show="hasAnyPermission(['DISBURSE_LOAN', 'APPROVE_LOAN'])">
  <div class="cusomTooltip tooltip_light loans_info_tooltip">
    <div class="tooltip__container">
      <div class="tooltip__content">
        <div>Total loans requiring actions: {{loans_total}}</div>
        <div><a href="/#/loansPendingApproval" ng-show="hasPermission('APPROVE_LOAN')">Loans pending approval: {{loans_PAcount}}</a></div>
        <div><a href="/#/loansAwaitingDisbursement" ng-show="hasPermission('DISBURSE_LOAN')">Loans awaiting disbursement:  {{loans_ADcount}}</a></div>
      </div>
      <div class="tooltip__navigate">
        <a href="javascript: void(0);" class="button button_gray left" ng-click="loans_info_show(); $event.stopPropagation();">Close</a>
      </div>
    </div>
  </div>
</div>