<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="mainMenuVisible">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/dashboard"><span>Finem</span></a>
      <div class="visible-sm search-sm">
        <form role="search" ng-controller="ClientSearchCtrl">
          <div class="form-group">
            <input type="text" class="search-box" ng-keypress="onKeypress($event)" ng-model="selected" ng-hide="isLoading" typeahead-loading="isLoading" typeahead="client as client.name for client in clients | filter: searchFilter($viewValue)" typeahead-template-url="views/Client/search.match.tpl.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-focus-first="false" placeholder="Search"/>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar-collapse collapse">

      <!-- Left nav -->
      <ul class="nav navbar-nav sm sm-finem">
        <li ng-class="{'active': currentMenuPath == 'home'}"><a data-toggle="collapse" data-target=".navbar-collapse" href="/#/dashboard" class="home">Home</a></li>
        <li ng-class="{'active': currentMenuPath == 'client'}" ng-show="hasPermission('READ_CLIENT')"><a data-toggle="collapse" data-target=".navbar-collapse" href="/#/clients?clear=true" class="clients">Clients</a></li>
        <li ng-class="{'active': currentMenuPath == 'report'}" ng-show="hasAnyReportCategoryPermission(['Client', 'Loan', 'Account'])">
          <a href="javascript:void(0);" class="reports">Reports</a>
          <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
            <li ng-show="hasAnyReportCategoryPermission(['Client', 'Loan', 'Account'])"><a href="/#/vreports/all?clear=true"> All</a></li>
            <li ng-show="hasReportCategoryPermission('Client')"><a href="/#/vreports/clients?clear=true"> Clients</a></li>
            <li ng-show="hasReportCategoryPermission('Loan')"><a href="/#/vreports/loans?clear=true"> Loans</a></li>
            <li ng-show="hasReportCategoryPermission('Accounting')"><a href="/#/vreports/accounting?clear=true"> Accounting</a></li>
            <li ng-show="hasReportCategoryPermission('Accounting')"><a href="/#/vreports/mis?clear=true"> MIS</a></li>
          </ul>
        </li>
        <li ng-class="{'active': currentMenuPath == 'accounting'}">
          <a href="javascript:void(0);" class="accounting" ng-show="hasAnyPermission(['READ_JOURNALENTRY', 'READ_GLACCOUNT'])">Accounting</a>
          <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
            <li ng-show="hasPermission('READ_GLACCOUNT')"><a href="/#/accounting/chart">Chart of Accounts</a></li>
            <li ng-show="hasPermission('READ_JOURNALENTRY')"><a href="/#/journalentries">Journal Entries</a></li>
          </ul>
        </li>
        <li ng-class="{'active': currentMenuPath == 'configuration'}">
          <a href="javascript:void(0);" class="configuration" ng-show="hasAnyPermission(['READ_UILOANPRODUCT', 'READ_ROLE', 'READ_USER', 'READ_STAFF', 'READ_HOLIDAY', 'BULKREASSIGN_LOAN', 'READ_SCHEDULER', 'READ_REPORT', 'READ_AUDIT'])">Configuration</a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:void(0);">Credentials</a>
              <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <li ng-show="hasPermission('READ_STAFF')"><a href="/#/admin/staff" >Staff</a></li>
                <li ng-show="hasPermission('READ_USER')"><a href="/#/admin/users" >Users</a></li>
                <li ng-show="hasPermission('READ_ROLE')"><a href="/#/admin/roles" >Roles</a></li>
                <li ng-show="hasPermission('PASSWORD_USER')"><a href="/#/admin/passwords" >Reset Passwords</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">Utilities</a>
              <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <li ng-show="hasPermission('READ_AUDIT')"><a href="/#/audit">Audit trail</a></li>
                <li ng-show="hasPermission('READ_UINOTIFICATION')"><a href="/#/notifications/sms">Notification log</a></li>
                <li ng-show="hasPermission('READ_SCHEDULER')"><a href="/#/jobs">Jobs Schedule</a></li>
                <li ng-show="hasPermission('READ_BACKUP')"><a href="">Backup/Restore</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">Parameters</a>
              <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <li ng-show="hasPermission('CREATE_CODEVALUE')"><a href="/#/codes" >Codes</a></li>
                <li ng-show="hasPermission('READ_HOLIDAY')"><a href="/#/holidays" >Holidays</a></li>
                <li ng-show="hasPermission('READ_UIREPORT')"><a href="/#/reports" >Manage Reports</a></li>
              </ul>
            </li>
            <li>
              <a href="javascript:void(0);">Loans / Products</a>
              <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <li ng-show="hasPermission('READ_UILOANPRODUCT')"><a href="/#/loanProducts">Products</a></li>
                <li ng-show="hasPermission('BULKREASSIGN_LOAN')"><a href="/#/loan_reassignment">Loan reassignment</a></li>
              </ul>
            </li>
            <li>
              <a href="/#/admin/costcenters" data-toggle="collapse" data-target=".navbar-collapse">Cost Centers</a>
            </li>
            <li>
              <a href="javascript:void(0);">Accounts / Finance</a>
              <ul class="dropdown-menu" data-toggle="collapse" data-target=".navbar-collapse">
                <li ng-show="hasPermission('CREATE_FINANCIALYEAR')"><a href="/#/financialyears" >Financial Years</a></li>
                <li ng-show="hasPermission('UPDATE_CURRENCY')"><a href="/#/admin/currencies">Currencies</a></li>
                <li ng-show="hasPermission('UPDATE_exchange_rate')"><a href="/#/admin/exchangerates">Exchange Rates</a></li>
                <li ng-show="hasPermission('UPDATE_CONFIGURATION')"><a href="/#/admin/configurations">Configuration</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right sm sm-clean">
        <li class="hidden-sm">
          <form role="search" ng-controller="ClientSearchCtrl">
            <div class="search">
              <!--
              <input type="text" class="search-box" placeholder="Search"/>
              typeahead="item as item.title + ' (' + item.type + ')' for item in titles | filter:{title:$viewValue}"
              <input type="text" class="search-box" ng-model="selected" ng-hide="isLoading" typeahead-loading="isLoading" typeahead="client as client.name for client in clients | filter:$viewValue | limitTo:10" typeahead-template-url="views/Client/search.match.tpl.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-focus-first="true" placeholder="Search">
              -->
              <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default" ng-click="go()" ng-show="selectedClients.length > 0">
                  <span class="glyphicon glyphicon-ok-circle text-primary"></span>
                </button>
                <button type="button" class="btn btn-default" ng-click="clear()" ng-show="selectedClients.length > 0">
                  <span class="glyphicon glyphicon-remove-circle text-danger"></span>
                </button>
              </div>
              <input type="text" class="search-box" ng-keypress="onKeypress($event)" ng-model="selected" ng-hide="isLoading" typeahead-loading="isLoading" typeahead="client as client.name for client in clients | filter: searchFilter($viewValue)" typeahead-template-url="views/Client/search.match.tpl.html" typeahead-on-select="onSelect($item, $model, $label)" typeahead-focus-first="false" placeholder="Search">
            </div>
          </form>
        </li>
        <li>
          <a href="javascript: void(0);" class="notifications" id="loans_info_button">
            <span class="visible-sm">Notifications</span>
            <strong class="badge">{{loans_total}}</strong>
          </a>
          <ul class="mega-menu dropdown-menu">
            <li>
              <div style="width: 240px; max-width: 100%;">
                <div>Total loans requiring actions: {{loans_total}}</div>
                <div><a href="/#/loansPendingApproval" ng-show="hasPermission('APPROVE_LOAN')" data-toggle="collapse" data-target=".navbar-collapse">Loans pending approval: {{loans_PAcount}}</a></div>
                <div><a href="/#/loansAwaitingDisbursement" ng-show="hasPermission('DISBURSE_LOAN')" data-toggle="collapse" data-target=".navbar-collapse">Loans awaiting disbursement:  {{loans_ADcount}}</a></div>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" class="user"><span class="name">{{username}}</span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" ng-click="change_pass()">Change Password</a></li>
            <li ng-controller="LoginCtrl"><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
