<nav class="navbar navbar-default pagination" ng-if="pages.length > 1" style="width: 100%; top: -8px;">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Size {{stItemsByPage===100000 ? 'All' : stItemsByPage}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="$parent.stItemsByPage=10">10</a></li>
                <li><a href="" ng-click="$parent.stItemsByPage=25">25</a></li>
                <li><a href="" ng-click="$parent.stItemsByPage=50">50</a></li>
                <li><a href="" ng-click="$parent.stItemsByPage=100">100</a></li>
                <li><a href="" ng-click="$parent.stItemsByPage=100000">All</a></li>
            </ul>
        </li>
        <li ng-show="currentPage>1">
            <a href="" ng-click="selectPage(1)">
                <i class="glyphicon glyphicon-fast-backward"></i>
            </a>
        </li>
        <li ng-show="currentPage>1">
            <a href="" ng-click="selectPage(currentPage - 1)">
                <i class="glyphicon glyphicon-backward"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Page {{currentPage}} of {{pages.length}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" style="max-height: 150px; overflow-y: scroll;">
                <li ng-repeat="page in pages"><a href="" ng-click="selectPage(page)">{{page}}</a></li>
            </ul>
        </li>
        <li ng-show="currentPage<pages.length">
            <a href="" ng-click="selectPage(currentPage + 1)">
                <i class="glyphicon glyphicon-forward"></i>
            </a>
        </li>
        <li ng-show="currentPage<pages.length">
            <a href="" ng-click="selectPage(numPages)">
                <i class="glyphicon glyphicon-fast-forward"></i>
            </a>
        </li>
    </ul>
</nav>
